			body {
                background-color: #AB2B2A;
				color: #555;
				margin: 0;
			}
			
			#main-wrapper{
                background-color: #FFF;
				border-radius: 6px;
                -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
                -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
                box-shadow: 0 1px 5px rgba(0,0,0,0.15);
                -webkit-border-radius: 6px;
                padding-top: 15px;
                padding-bottom: 15px;
			}			
			
            .navbar-inner {
                min-height: 0px;
                padding-right: 0px;
                padding-left: 0px;
                background-color: #AB2B2A;
                background-image: -moz-linear-gradient(top,AB2B2A,AB2B2A);
                background-image: -webkit-gradient(linear,0 0,0 100%,from(AB2B2A),to(AB2B2A));
                background-image: -webkit-linear-gradient(top,AB2B2A,AB2B2A);
                background-image: -o-linear-gradient(top,AB2B2A,AB2B2A);
                background-image: linear-gradient(to bottom,AB2B2A,AB2B2A);
                background-repeat: repeat-x;
                border: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
                -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.0);
                box-shadow: 0 0px 0px rgba(0,0,0,0.0);
            }

            .navbar .brand {
                padding-left: 0px;
            }

            .navbar .nav>li>a {
                float: none;
                padding: 10px 15px 10px;
                color: #fff;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
                color: #FFF;
                text-shadow: 0 1px 2px rgba(0,0,0,0.5);
            }

            .navbar .nav > li > a:hover,  .navbar .nav > li > a.hover {
                color: #ff8028;;
            }

            .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
                color: #E28989;
                background-color: #AB2B2A;
            }

            #topMenu {
                margin-top: 20px;
                font-size: 16px;
            }

            #topMenu.in {
                margin-top: -50px;
            }

			a {
				color: #dd4814;
				text-decoration: none;
			}

                a:hover, a.hover {
                    color: #ff8028;
                    text-decoration: none;
                }

			.main-content {
				background-color: #FFF;
			}
			.caption .lead {
				margin: 0;
				line-height: 1.25;
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,.4);
				font-size: 16px;
				font-weight: 200;
			}
			
			.carousel-caption h1, .carousel-caption .lead {
				margin: 0;
				line-height: 1.25;
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,.4);
			}
			
			.carousel-caption .lead{
				font-size: 16px;
			}
			
			.carousel-control {
				border: 0!important;
			}
			
			.carousel-caption {
				background: rgba(0,0,0,0.30);
			}
			.content-wrap {
			}
			
			.black{
				color: #555;
			}
			
			#mainSlider{
			}

            /* Buttons */
            a.thumbnail .textDescription, a.thumbnail:hover .textDescription, a.thumbnail:focus .textDescription {
                color: #555;
            }

            .btn-primary {
	            color: #FFFFFF;
	            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	            background-color: #BD361B;
	            *background-color: #BD361B;
	            background-image: -moz-linear-gradient(top, #F70A0A, #BD361B);
	            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F70A0A), to(#BD361B));
	            background-image: -webkit-linear-gradient(top, #F70A0A, #BD361B);
	            background-image: -o-linear-gradient(top, #F70A0A, #BD361B);
	            background-image: linear-gradient(to bottom, #F70A0A, #BD361B);
	            background-repeat: repeat-x;
	            border-color: #BD361B;
	            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70A0A', endColorstr='#BD361B', GradientType=0);
	            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            }
            .btn-primary:hover,
            .btn-primary:active,
            .btn-primary.active,
            .btn-primary.disabled,
            .btn-primary[disabled] {
	            color: #FFFFFF;
	            background-color: #BD361B;
	            *background-color: #003bb3;
            }

            a.thumbnail:hover, a.thumbnail:focus {
                border-color: #ff8028;
            }

            .paginationButton {
                margin-bottom: 20px;
                height: 30px;
            }

.campeonatoDashboard h4{
    min-height: 40px;
}

.campeonatoDashboard .image {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 30px;
}

.white {
    color:  #FFF;
}

footer {
    margin-top: 10px;
    color: #FFF;
}

footer ul {
    list-style-type: none;
    margin-left: 0px;
}

footer a {
    font-weight: bold;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.gamingSocialId {
     margin-top: 10px;
     display: inline-block;
     float: left;
     width: 110px;
     -moz-border-radius: 5px; 
     border-radius: 5px; 
     padding: 5px;
}

    .gamingSocialId .title {
        font-size: 18px;
        text-shadow: 2px 2px #000000;
        text-align: center;
    }

.gamingSocialId .id {
   background-color: #fff;
   width: 100px;
   margin: 10px auto;
   -moz-border-radius: 5px; 
   border-radius: 5px; 
   padding: 5px;
   color: #000;
   text-align: center;
   font-size: 12px;
   font-weight: bold;   
}

.psnId {
    margin-right: 5px;
    background-color: #0065AD;
    color: #fff;
}

.liveId {
    margin-right: 5px;
    background-color: #77BB44;
    color: #fff;
}

.nintendoId {
    background-color: #FF7D01;
    color: #fff;
}

.nintendoId .title {
    font-size: 11px;
}

.photoSmall {
    display: block;
    width: 160px; 
    height: 160px; 
    background-size:160px auto;
    background-position: center center;
    background-repeat: no-repeat;
     -moz-background-size: 160px auto;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 160px auto;           /* Opera 9.5 */
    -webkit-background-size: 160px auto;           /* Safari 3.0 */
     background-size: 160px auto;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

.photoBig {
    display: block;
    width: 270px; 
    height: 270px; 
    background-size:270px auto;
    background-position: center center;
    background-repeat: no-repeat;
     -moz-background-size: 270px auto;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 270px auto;           /* Opera 9.5 */
    -webkit-background-size: 270px auto;           /* Safari 3.0 */
     background-size: 270px auto;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
}

ul.notifications{
    background-color: #EEE;
    border-radius: 6px;
    border: 1px solid #D1D1D1;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    -webkit-border-radius: 6px;
    padding: 5px;
    margin-left: 0px;
}

ul.notifications li{
    list-style: none;
    padding: 3px;
    border-bottom: 1px solid #D1D1D1;
}

ul.notifications li h4{
    margin-bottom: 0px;
    margin-top: 5px;
}

ul.notifications li span.data{
    font-size:  10px;
    margin-bottom: 10px;
}

ul.notifications li p{
    margin-bottom: 5px;
}

ul.notifications li:last-child{
    border-bottom: none;
}

.gamingConnection tr td {
    font-size: 12px;
}

.badges .description {
    font-size:  12px;
}

.container {
    padding: 10px;
}

.pokemonSafariItem {
    font-size: 12px;
}

.pokemonSafariItem .pokemon{
    text-align: center;
}

ul.settings{
     background-color: #EEE;
    border-radius: 6px;
    border: 1px solid #D1D1D1;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    -webkit-border-radius: 6px;
    padding: 5px;
    margin-left: 0px;
}

ul.settings li{
    list-style: none;
    padding: 3px;
    border-bottom: 1px solid #D1D1D1;
}

ul.settings li h4{
    margin-bottom: 0px;
    margin-top: 5px;
}

ul.settings li p{
    margin-bottom: 5px;
}

ul.settings li:last-child{
    border-bottom: none;
}

a:hover {
  cursor:pointer;
 }