@{
    ViewBag.Title = "EA";
}

<div class="row e3-stream" id="e3-stream-bethesda" style="display: none;">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#twitch-bethesda" aria-controls="twitch-bethesda" role="tab" data-toggle="tab">Twitch</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="twitch-bethesda">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" scrolling="no" frameborder="0" src="https://player.twitch.tv/?channel=bethesda&autoplay=false"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 id="video-title">Bethesda</h2>
        <div id="video-description">
            A apresentação da <b>Bethesda</b> será realizada no dia <b>12 de junho</b>, às <b>23h</b> (horário de Brasília).<br/>
            <br/>
            O que poderemos ver:
            <ul>
                <li>Doom</li>
                <li>Dishonored 2</li>
                <li>The Elder Scrolls: Legends</li>
                <li>Fallout 4</li>
            </ul>
        </div>
    </div>
</div>
