@{
    ViewBag.Title = "EA";
}

<div class="row e3-stream" id="e3-stream-ea">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">Youtube Live</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="youtube">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/lpXgJGGfeqs?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 id="video-title">Eletronic Arts</h2>
        <div id="video-description">
            A apresentação da <b>Eletronic Arts</b> será realizada no dia <b>12 de junho</b>, às <b>17h</b> (horário de Brasília).<br/>
            <br/>
            Anúncios garantidos:
            <ul>
                <li>Battlefield 1</li>
                <li>Titalfall 2</li>
                <li>Mass Effect: Andromeda</li>
                <li>EA Sports</li>
                <li>Star Wars: Battlefront</li>
                <li>Mirror's Edge: Catalyst</li>
            </ul>
            Possíveis anúncios:
            <ul>
                <li>Star Wars Battlefront 2</li>
                <li>Um "novo jogo" de Star Wars</li>
                <li>Jogos mobile</li>
                <li>Novidades no EA Access</li>
            </ul>
        </div>
    </div>
</div>
