@{
    ViewBag.Title = "EA";
}

<div class="row e3-stream" id="e3-stream-e3" style="display: none;">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">Youtube Live</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="youtube">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/lpXgJGGfeqs?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 id="video-title">E3 2016</h2>
        <div id="video-description">
            A <b>Electronic Entertainment Expo</b>, ou <b>E3</b>, é considerada a mais importante feira dedicada a jogos eletrônicos do mundo, reunindo anualmente novidades relativas à lançamentos e tendências de mercado de várias empresas do setor.<br/>
            <br/>
            A edição deste ano acontecerá novamente no Los Angeles Convention Center, entre os dias 12 e 16 de junho, sendo que os dois primeiros dias (e parte do terceiro) são dedicados às conferências das empresas do setor, que divulgam suas principais novidades e lançamentos.
        </div>
    </div>
</div>
