@{
    ViewBag.Title = "EA";
}

<div class="row e3-stream" id="e3-stream-xbox" style="display: none;">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#youtube-microsoft" aria-controls="youtube-microsoft" role="tab" data-toggle="tab">Youtube Live</a></li>
            <li role="presentation"><a href="#twitch-microsoft" aria-controls="twitch-microsoft" role="tab" data-toggle="tab">Twitch</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="youtube-microsoft">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="720" height="405" src="https://www.youtube.com/embed/Jjoq7snv24I" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="twitch-microsoft">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" scrolling="no" frameborder="0" src="https://player.twitch.tv/?channel=xbox&autoplay=false"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 id="video-title">Microsoft</h2>
        <div id="video-description">
            A apresentação da <b>Microsoft</b> será realizada no dia <b>13 de junho</b>, às <b>13h30</b> (horário de Brasília).<br/>
            <br/>
            O que poderemos ver:
            <ul>
                <li>Forza</li>
                <li>Recore</li>
                <li>Ashen</li>
                <li>Ion</li>
                <li>Below</li>
                <li>Crackdown 3</li>
                <li>Mais do Hololens</li>
                <li>Halo</li>
                <li>Gears of War 4</li>
            </ul>
        </div>
    </div>
</div>
