@{
    ViewBag.Title = "EA";
}

<div class="row e3-stream" id="e3-stream-nintendo" style="display: none;">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#twitch-nintendo" aria-controls="twitch-nintendo" role="tab" data-toggle="tab">Twitch</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="twitch-nintendo">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" scrolling="no" frameborder="0" src="https://player.twitch.tv/?channel=nintendo&autoplay=false"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 id="video-title">Nintendo</h2>
        <div id="video-description">
            A apresentação da <b>Nintendo</b> será realizada no dia <b>14 de junho</b>, às <b>13h</b> (horário de Brasília) e no dia <b>15 de junho</b>, às 14h, em um formato do Nintendo Threehouse (uma apresentação ao vivo com gameplays ao longo do dia)<br/>
            <br/>
            O que poderemos ver:
            <ul>
                <li>The Legend of Zelda</li>
                <li>Pokémon Sun e Pokémon Moon</li>
                <li>Pokémon GO</li>
                <li>Monster Hunter Generations</li>
                <li>Dragon Quest VII</li>
                <li>Tokyo Mirage Sessions #FE</li>
            </ul>
        </div>
    </div>
</div>
