@{
    ViewBag.Title = "EA";
}

<div class="row e3-stream" id="e3-stream-pc" style="display: none;">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#youtube" aria-controls="youtube" role="tab" data-toggle="tab">Youtube Live</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="youtube">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/lpXgJGGfeqs?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 id="video-title">PC Gaming Show</h2>
        <div id="video-description">
            A apresentação da <b>PC Gaming Show</b> será realizada no dia <b>13 de junho</b>, às <b>15h30</b> (horário de Brasília).<br/>
            <br/>
            A conferência contará com a participação de diversas empresas produtoras de jogos para PC, entre elas, a <i>Blizzard</i>, <i>Bohemia Enterteinment</i>, <i>Cloud Imperium Games</i> e mais.
        </div>
    </div>
</div>
