@using CampeonatosNParty.Models.Database
@model EixoX.Data.ClassSelectResult<Jogos>
@{
    ViewBag.Title = "Index";
}
<ul class="breadcrumb">
    <li><a href="@Url.Content("/")">Home</a> <span class="divider">/</span></li>
    <li class="active">Campeonatos</li>
</ul>
<div class="page-header">
  <h1>Campeonatos <small>Confira todos os jogos dos campeonatos que realizamos</small></h1>
</div>
<form method="get" class="form-search pull-right">
    <div class="input-append">
        <input type="text" name="filter" placeholder="Procurar por campeonato" class="search-query" style="height:24px;" value="@Request.QueryString["filter"]">
        <button class="btn btn-primary">
            <i class="icon-search icon-white"></i>
        </button>
    </div>
</form>
@{
    foreach(Jogos jogo in Model.ToList())
    {
        
    }
}
