@{
    ViewBag.Title = "Index";
    ViewData["ActiveMenu"] = 1;
}

<div id="nintendo-container" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 3);}
    <div class="hilights">
        <div class="hilights-items">
            <div style="float: left; width: 100%;">
                <div class="col-md-4">
                    <a href="#" class="hilight-link">
                        <h2>Opinião: A importância (e a nostalgia) dos eventos especiais de Pokémon no Brasil</h2>
                    </a>
                    <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                </div>
                <div class="col-md-4" id="hilight2">
                    <a href="#" class="hilight-link">
                        <h2>Espaço Minas Nerds na 21ª Fest Comix</h2>
                    </a>
                    <div class="hilight" style="background-image: url('http://1.bp.blogspot.com/-6WCaq3jEhmQ/VbQ1yECk6SI/AAAAAAAAlN4/U6srqx7iU2c/s640/minasnerd.jpg')"></div>
                </div>
                <div class="col-md-4" id="hilight3">
                    <a href="#" class="hilight-link">
                        <h2>Teste</h2>
                    </a>
                    <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-md-8 inside-section col-bordered-right" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                    <h3>Lorem ipsum bla bla bla bla bla</h3>
                    <div class="author">Por Dave Tach em 26/12/2012</div>
                    <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                </a>
                <hr />
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
                <hr />
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
                <hr />
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
                <hr/>
                <div class="btn btn-default btn-lg btn-block">Carregar mais...</div>
            </div>
        </div>
    </div>
</div>
