@{
    ViewBag.Title = "Ler";
    ViewData["ActiveMenu"] = 1;
}
<div id="nintendo-container" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 3);}
    <div class=" container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <div class="col-lg-8 col-bordered-right" id="no-scrolable" style="margin-bottom: 20px;">
                <meta content="Mario Toledo" name="author">
                <div class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
                    <div class="article">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="header">
                                    <img src="http://4.bp.blogspot.com/-WZTEAQdfjfA/VjDPgzYlnMI/AAAAAAAAm6A/19uN0S1YCjk/s1600/triforce.jpg" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: -50px;  background-color: #FFF; padding: 30px; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: -50px; padding: 10px; padding-bottom: 0px; background-color: #FFF;">
                                    <div class="article-title">
                                        <h3 class="post-title entry-title" itemprop="name">
                                            No Japão: Zelda: Tri Force Heroes é o jogo mais vendido da semana
                                        </h3>
                                        <div class="subtitulo" itemprop="description">
                                            Apesar dos números não serem tão surpreendentes assim
                                        </div>
                                        <div class="author" style="margin-top: 10px;">
                                            Por
                                            <span itemprop="name">Mario Toledo</span>

                                            em

                                            28 de outubro de 2015
                                        </div><br>
                                        <div style="margin-left: 0px; margin-bottom: 0px; margin-bottom: 20px;">
                                            <div class="socialShare">
                                                <div class="fb-like" data-action="like" data-layout="button_count" data-share="false" data-show-faces="false" data-width="70"></div>
                                            </div>
                                            <div class="socialShare">
                                                <a class="twitter-share-button" data-count="horizontal" data-via="n_party" href="http://twitter.com/share">Tweet</a>
                                                <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
                                            </div>
                                            <div class="socialShare">
                                                <script src="https://apis.google.com/js/plusone.js" type="text/javascript" gapi_processed="true"></script>
                                                <g:plusone></g:plusone><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" id="article-content">
                                        <div class="post-body entry-content" id="post-body-4588136738158367851" itemprop="articleBody">
                                            A Media Create divulgou hoje a lista dos jogos mais vendidos no Japão entre os dias 19 e 25 de outubro, o que inclui o período do lançamento de The Legend of Zelda: Tri Force Heroes. O jogo se saiu suficientemente bem a ponto de alcançar o topo do ranking, com 54 mil unidades vendidas. Só é curioso que este não é um número surpreendente para a franquia, que já alcançou números maiores no console na região (A Link Between Worlds chegou a 225 mil em seus 4 primeiros dias, e até os remakes 3D obtiveram em torno de 200 mil unidades em seu lançamento).<br>
                                            <br>
                                            <div>
                                                1. [3DS] Zelda: Tri Force Heroes – 54.394 / NOVO
                                            </div>
                                            <div>
                                                2. [3DS] PriPara Mezase! Idol * Grand Prix No.1! – 34.035 / NOVO
                                            </div>
                                            <div>
                                                3. [3DS] Yo-kai Watch Busters – 20.824 / 1.674.995
                                            </div>
                                            <div>
                                                4. [WIU] Super Mario Maker – 15.817 / 337.039
                                            </div>
                                            <div>
                                                5. [3DS] 7th Dragon III – 13.299 / 85.776
                                            </div>
                                            <div>
                                                6. [WIU] Splatoon – 13.159 / 737.478
                                            </div>
                                            <div>
                                                7. [3DS] Animal Crossing: Happy Home Designer – 8.625 / 1.098.904
                                            </div>
                                            <div>
                                                8. [PSV] Minecraft: PlayStation Vita Edition – 7.547 / 375.264
                                            </div>
                                            <div>
                                                9. [PS3] World Soccer Winning Eleven 2016 – 6.442 / 82.413
                                            </div>
                                            <div>
                                                10. [3DS] Pokemon Super Mystery Dungeon – 6.402 / 243.494
                                            </div>
                                            <div>
                                                11. [3DS] Picross 3D – 5.905 / 58.147
                                            </div>
                                            <div>
                                                12. [3DS] Pro Yakyuu Famista Returns – 5.894 / 38.421
                                            </div>
                                            <div>
                                                13. [PS4] Metal Gear Solid V: The Phantom Pain – 4.944 / 411.720
                                            </div>
                                            <div>
                                                14. [PSV] Tokyo Xanadu – 4.793 / 116.835
                                            </div>
                                            <div>
                                                15. [PS4] World Soccer Winning Eleven 2016 – 4.528 / 63.769
                                            </div>
                                            <div>
                                                16. [PS4] Uncharted Collection – 4.439 / 37.049
                                            </div>
                                            <div>
                                                17. [3DS] Dragon Quest VIII – 4.208 / 801.043
                                            </div>
                                            <div>
                                                18. [PS4] GTA V (4.990 yen Edition) – 3.673 / 10.875
                                            </div>
                                            <div>
                                                19. [3DS] Chibi-Robo!: Zip-Lahs – 3.647 / 25.083
                                            </div>
                                            <div>
                                                20. [PS3] Metal Gear Solid V: The Phantom Pain – 3.614 / 190.093
                                            </div>
                                            <div>
                                                <br>
                                            </div>
                                            <div>
                                                <a href="http://m.create.com/" target="_blank">Fonte</a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </div>
                                    <div class="author-box" id="authorBox">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img class="authorPhoto img-rounded img-responsive" id="authorPhoto" src="http://www.nintendoparty.com.br/img/authorsImages/mariotoledo.jpg">
                                            </div>
                                            <div class="col-sm-10" id="authorDescription"><b>Mario Toledo</b> possui cabelo em pé e barba pra fazer por causa da N-Party. Seu 3DS está com a tela quebrada de tanto uso, e sua Jynx se chama "Preta Gil".</div>
                                            <script>
																			renderAuthorArea("Mario Toledo");
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-top: 30px;"><div class="panel-heading"><b>Leia também</b></div><div class="list-group PopularPosts "><li class="list-group-item"><a href="http://www.nintendo.nparty.com.br/2015/10/video-mostra-como-diferentes-roupas.html"></a><div class="item-thumbnail-only"><a href="http://www.nintendo.nparty.com.br/2015/10/video-mostra-como-diferentes-roupas.html"><div class="item-thumbnail" style="margin-bottom: 0px;"><img alt="Vídeo mostra como diferentes roupas interferem em Zelda: Tri Force Heroes" border="0" height="75" src="http://3.bp.blogspot.com/-bzeh3PWWa74/ViEKbCef9SI/AAAAAAAAmsE/tEmoXwfX4xQ/s72-c/zeldaroupas.jpg" width="75"></div><div style="padding-top: 20px; padding-bottom: 20px;">Vídeo mostra como diferentes roupas interferem em Zelda: Tri Force Heroes</div><div style="clear: both;"></div></a></div></li><li class="list-group-item"><a href="http://www.nintendo.nparty.com.br/2015/10/preview-legend-of-zelda-tri-force-heroes.html"></a><div class="item-thumbnail-only"><a href="http://www.nintendo.nparty.com.br/2015/10/preview-legend-of-zelda-tri-force-heroes.html"><div class="item-thumbnail" style="margin-bottom: 0px;"><img alt="Preview: The Legend of Zelda: Tri Force Heroes" border="0" height="75" src="http://2.bp.blogspot.com/-rmBwm2UxtrI/Vhs9RKuZIDI/AAAAAAAAmlU/EHbMsLtN6rs/s72-c/zeldaTriForce.jpg" width="75"></div><div style="padding-top: 20px; padding-bottom: 20px;">Preview: The Legend of Zelda: Tri Force Heroes</div><div style="clear: both;"></div></a></div></li><li class="list-group-item"><a href="http://www.nintendo.nparty.com.br/2015/09/europa-pre-venda-de-zelda-tri-force.html"></a><div class="item-thumbnail-only"><a href="http://www.nintendo.nparty.com.br/2015/09/europa-pre-venda-de-zelda-tri-force.html"><div class="item-thumbnail" style="margin-bottom: 0px;"><img alt="Europa: Pré-Venda de Zelda: Tri Force Heroes garante brinde exclusivo aos consumidores" border="0" height="75" src="http://2.bp.blogspot.com/-2CIyucM5JJQ/Vfx_WpWrqGI/AAAAAAAAMQI/ej7Urq2wINk/s72-c/noticias_tri-force-heroes-links-252_edited.jpg" width="75"></div><div style="padding-top: 20px; padding-bottom: 20px;">Europa: Pré-Venda de Zelda: Tri Force Heroes garante brinde exclusivo aos consumidores</div><div style="clear: both;"></div></a></div></li></div></div>
                </div>
            </div>
            <div class="col-lg-4">
                @{Html.RenderPartial("Sidebars/Nintendo");}
            </div>
        </div>
    </div>
</div>
