@{
    ViewBag.Title = "Ler";
    ViewData["ActiveMenu"] = 1;
}
<div id="nintendo-container" style="padding: 0;">
    @{Html.RenderPartial("SubMenus/Nintendo", 3);}
    <div class=" container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-9">
                <div style="min-height: 100px;">
                    <img src="http://4.bp.blogspot.com/-iLsN0E6tDfE/VgFerAnObQI/AAAAAAAAmE8/GRBdCzEd_WA/s640/site.jpg" style="width: 100%;" />
                </div>
                <div style="margin-top: -100px;  background-color: #FFF; padding: 30px;">
                    <div class="row">
                        <div class="col-md-12" style="padding: 10px; background-color: #FFF;">
                            <h1 style="margin: 0;">Conversamos com Helder Henrique, o organizador da Liga Pokémon de Arapongas</h1>
                            <h2 style="font-size: 20px; font-weight: normal; color: #AAA; font-style: italic; margin-top: 10px;">Bla bla bla bla bla bla</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla dolor vel ultricies consequat. Quisque ut ligula vel lectus sagittis imperdiet. Etiam sit amet feugiat diam. Sed mollis at nulla vitae pretium. Maecenas maximus convallis ligula, placerat fermentum ligula fringilla a. Phasellus metus mi, tincidunt eget ipsum ac, ullamcorper accumsan purus. Duis ut placerat orci. Nullam viverra sapien mauris, ac ultricies neque varius ut. Curabitur scelerisque nunc nunc, id efficitur sem sollicitudin id. Phasellus lacinia ipsum sed venenatis pellentesque. Quisque eget tellus maximus, porttitor mauris vitae, interdum lectus. Aliquam ullamcorper dui eget lectus pellentesque efficitur.<br/>
                            <br/>
                            Nulla eget massa id nisl dapibus volutpat maximus id leo. Vestibulum ultrices dignissim metus nec laoreet. Mauris et sollicitudin sem, ac bibendum libero. Nam augue tortor, bibendum eget iaculis quis, rutrum id leo. In vitae ex dolor. Ut vel arcu ac lacus pretium venenatis ac vitae est. Sed eu neque a massa luctus bibendum ac non risus. Morbi elementum velit leo, vitae feugiat eros ullamcorper eget. Proin eu justo vitae leo egestas gravida finibus at dolor. Praesent erat arcu, volutpat quis molestie sit amet, commodo ut tortor. Mauris fringilla lobortis nisl, vitae sollicitudin mauris bibendum eget. Sed arcu ante, finibus eu commodo ut, placerat nec metus. Fusce ligula neque, imperdiet ac luctus a, gravida in enim. Vestibulum dictum malesuada enim, consequat rutrum sapien viverra eget. Curabitur molestie quam diam, ut vehicula massa dapibus et. Cras ornare urna et tempus iaculis.<br/>
                            <br />
                            Vivamus eleifend nibh sed ipsum mattis porttitor. Sed ligula elit, fermentum nec euismod non, pharetra ac odio. Donec lacinia tincidunt nisi vel egestas. Curabitur tempus nulla fringilla semper pretium. Sed enim enim, convallis eu porta eu, blandit vitae velit. Mauris ac fringilla libero, eu rutrum eros. Morbi non leo ex. Donec semper ex ut quam maximus, nec ultrices turpis rutrum. Donec hendrerit dui nec urna condimentum aliquet. Integer laoreet non leo ac laoreet. In faucibus lectus eu sapien gravida, nec semper elit convallis. Morbi sollicitudin eros felis, vel ullamcorper erat imperdiet eget.<br />
                            <br />
                            Duis varius sagittis metus, sit amet tempor neque dictum at. Cras facilisis dui in quam consequat congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec porttitor nisi in nisi congue, ac laoreet sem mollis. Integer luctus in urna quis congue. Nunc dapibus orci vitae blandit feugiat. In hac habitasse platea dictumst. In suscipit tempor turpis sit amet euismod. Vestibulum in rutrum enim, at placerat augue. Donec varius lacus a sapien aliquet pulvinar. Fusce a tortor ligula. Maecenas mattis consectetur luctus. Sed vulputate quam eget arcu dapibus maximus. Cras et interdum mauris, sit amet pharetra neque. Sed ut gravida nisl, at scelerisque nulla. Donec venenatis laoreet scelerisque.<br />
                           <br />
                            Pellentesque leo est, efficitur sed lacinia iaculis, imperdiet in libero. Phasellus efficitur dolor eros, sit amet aliquet nunc lacinia a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tempus gravida tortor id mollis. Praesent nisi risus, pretium in ultricies lacinia, placerat et ex. Maecenas mi nunc, pretium eu ipsum in, egestas pellentesque metus. Ut risus metus, tempus sit amet rutrum in, viverra nec elit. Phasellus at pellentesque diam. Vestibulum at nisi et ex rutrum gravida. Quisque lacinia mauris turpis, quis tempor enim semper vitae. Aliquam justo augue, fringilla nec risus ac, placerat facilisis velit. Aenean eget mauris odio. Sed sit amet tempor tortor, ac eleifend lorem. Phasellus nisl felis, tincidunt sit amet semper ac, gravida id est.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @{Html.RenderPartial("Sidebars/General");}
            </div>
        </div>
    </div>
</div>
