@{
    ViewBag.Title = "BemVindo";
}

@section FacebookMeta{
    <meta property="og:image" content="http://www.images.nparty.com.br/connect/connectFacebook.png" />
    <meta property="og:title" content="N-Party Connect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://connect.nparty.com.br" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name" content="N-Party Connect" />
    <meta property="og:description" content="Uma rede online para jogadores e fãs da Nintendo poderem trocar Friend Code, participar de campeonatos e muito mais." />
}

<div class="row">
    <div class="span12">
        <h2>Obrigado por se registrar!</h2>
        <p>Você será redirecionado para a página principal em 5 segundos. Caso isto não aconteça, <a href="@Url.Content("~/Home/")">clique aqui.</a></p>
    </div>
</div>
<script>
    var delay = 5000;
    setTimeout(function () { window.location = '@Url.Content("~/Home/")'; }, delay);
</script>
