@{
    ViewBag.Title = "ConfirmarEmail";
}

<h2>Falta pouco para completar seu cadastro</h2>
<p>Enviamos um email para sua caixa de entrada, e pedimos a gentileza de abrir-lo, clicar no link e confirmar seu email.</p>
<a href="~/Jogadores/EnviarEmailConfirmacao" class="btn btn-primary btn-large">Reenviar email</a>
