@{
    ViewBag.Title = "Home Page";
}


    <div class="row">
        <div class="col-md-12">
            <p>Ainda não há nada para se ver aqui. Selecione as opções no menu acima.</p>
        </div>
    </div>