<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NintendoBlogId" value="7461451582720103906" />
    <add key="eSportsBlogId" value="6162310999397019197" />
    <add key="EventosBlogId" value="2536109840176072865" />
    <add key="MainBlogId" value="4651637558316884901" />
    <add key="BloggerApiKey" value="AIzaSyCicPPhp3rQjsWdHbhwxrkuGZykL7S3jrM" />
    <add key="GoogleAppName" value="nparty" />
    
    <add key="NintendoBloggerApiKey" value="AIzaSyByxL3zEhZZwJosqovRI8caVY9qTzhLtZg" />
    <add key="NintendoGoogleAppName" value="nintendo-nparty" />
    <add key="NintendoBloggerApiKey2" value="AIzaSyCZr4AvSvVsRO7qGCPYLeWVlMVT7vrwjZc" />
    <add key="NintendoGoogleAppName2" value="nintendo-nparty2" />
    <add key="NintendoBloggerApiKey3" value="AIzaSyAz5LyM9QuskuPdAraGzNz2w78Jm3VgMto" />
    <add key="NintendoGoogleAppName3" value="nintendo-nparty3" />
    <add key="ESportsBloggerApiKey" value="AIzaSyCzLf7sau0T8hxfXMjNeqaioLTB0IwTRaM" />
    <add key="ESportsGoogleAppName" value="esports-nparty" />
    <add key="EventosBloggerApiKey" value="AIzaSyCRQpa1md5hdAdYobSCrsvXd5zwPWrfYq0" />
    <add key="EventosGoogleAppName" value="eventos-nparty" />
    <add key="PodcastBloggerApiKey" value="AIzaSyDPjLCABZwHeDukL139OlQkxNP7TUre4_U" />
    <add key="PodcastGoogleAppName" value="podcast-nparty" />
    
    <add key="MaxPosts" value="15" />
    <add key="NintendoSpecialTags" value="Destaque, Preview, Review, Top 10, Retrospectiva Semanal" />
    <add key="ESportsSpecialTags" value="Destaque, Dicas" />
    <add key="EventosSpecialTags" value="Destaque, Cobertura" />
    <add key="PodcastsSpecialTags" value="Banana" />
    <add key="MailchimpKey" value="5f0566af2a617830f1f4980003f755be-us9" />
    <!--add key="SiteUrl" value="http://nparty-www.azurewebsites.net" />-->
    <add key="SiteUrl" value="http://www.nparty.com.br" />
  </appSettings>

  <system.web>
    
    <httpRuntime requestPathInvalidCharacters="" targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />

    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Ops">
      <error statusCode="404" redirect="~/Ops/NaoEncontrado" />
    </customErrors>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
