@{
    ViewBag.Title = "EsqueciMinhaSenha";
}
@if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["Error"]))
{
<div class="row">
    <div class="span12">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["Error"]
        </div>
    </div>
</div>
}
@if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["Success"]))
{
<div class="row">
    <div class="span12">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["Success"]
        </div>
    </div>
</div>
}
<h2>Esqueci minha senha</h2>
<p>Por favor, digite seu email no campo abaixo, e clique no botão para lhe enviarmos uma nova senha.</p>
<form method="post" class="form form-horizontal">
        <div class="control-group">
            <label for="Email" class="control-label">Email</label>
            <div class="controls">
                <input type="text" name="Email" id="Email" value="" placeholder="">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-large">Enviar</button>
            </div>
        </div>
</form>
