
.e3 .video-section .pattern-overlay {
    background-color: rgba(71, 71, 71, 0.59);
    padding: 70px 0 70px;
    min-height: 496px; 
    position: relative;
    overflow: hidden;
}

.e3 .bg{
    background: #222;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background-position: center center;
}

.e3 .share-icons{
    margin: 25px auto 20px auto;
    text-align: center;
}

.e3 .share-icons .share-icon{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.e3 .video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.e3 .video-section .logo{
text-align: center;
padding: 20px 0px;
}
.e3 .video-section .logo img{
    margin: auto;
}
.e3 .video-section h3{
    font-size: 30px;
    font-weight:lighter;
    margin: 0px auto 15px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}