body {
    background-color: rgb(223, 223, 223);
	font-family: Arial, Helvetica;
}

a {
	color: #C90201;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover{
    text-decoration: none;
}

blockquote{
	font-size:14px;
	font-style: italic
}

/*
    ======================================== NAVBAR ================================
*/
.navbar-brand {
    padding: 10px 10px;
}

.navbar-default .navbar-nav>li>a{
    color: #C90201;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover
{
    color: #ea9494;
}

@media (min-width: 1200px){
    .navbar-default .navbar-nav li.bordered-left{
        border-left: 1px solid #DDDDDD;
    }

    .navbar-default .navbar-nav li.bordered-right{
        border-right: 1px solid #DDDDDD;
    }
}

.dropdown-menu{
    padding: 0;
}

@media (min-width: 992px) {
    #hilight2{
        border-left: 1px solid rgb(223, 223, 223);
        border-right: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(223, 223, 223);
    }

    #hilight3{
        border-bottom: 1px solid rgb(223, 223, 223);
    }

    #hilight4{
        border-left: 1px solid rgb(223, 223, 223);
        border-right: 1px solid rgb(223, 223, 223);
    }
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    #main-menu .navbar-nav{
        width: 100%;
        text-align: center;
    }

    #main-menu .navbar-form{
        width: 100%;
        text-align: center;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
}

@media (max-width: 767px) {
    .navbar-nav{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
.sidebar-nav {
    padding: 9px 0;
}

.hover-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.hover-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .hover-menu, .nav-pills .hover-menu, .navbar .hover-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    top: 11px;
}
}

.nintendo-menu:hover {
    background-color: #C90201;
    color: #FFF!important;
}

.nintendo-menu .nav li a {
    color: #FFF
}

.nintendo-menu .nav li a:hover {
    color: #C90201
}

.nintendo-menu:hover>a, .nintendo-menu:hover>a:hover{
    color: #FFF!important;
    -webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.nintendo-menu .dropdown-menu{
    color: #FFF;
    background-color: #C90201;
}


.eventos-menu:hover {
    background-color: #E18700;
    color: #FFF!important;
}

.eventos-menu .nav li a {
    color: #FFF
}

.eventos-menu .nav li a:hover {
    color: #E18700;
}

.eventos-menu:hover>a, .eventos-menu:hover>a:hover{
    color: #FFF!important;
    -webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.eventos-menu .dropdown-menu{
    color: #FFF;
    background-color: #E18700;
}

.dropdown-menu{
    -webkit-background-clip: none;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.esports-menu:hover {
    background-color: #54028A;
    color: #FFF!important;
}

.esports-menu .nav li a {
    color: #FFF
}

.esports-menu .nav li a:hover {
    color: #54028A;
}

.esports-menu:hover>a, .esports-menu:hover>a:hover{
    color: #FFF!important;
    -webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.esports-menu .dropdown-menu{
    color: #FFF;
    background-color: #54028A;
}

.hilight{
        display: block;
        background-size: cover;
        background-position: top center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        background-position: center;
        overflow: hidden;
        min-height: 225px;
        margin-left: -15px;
        margin-right: -15px;
        z-index: -1!important;
}

.hilight:after{
    z-index: 1;
}

@media (min-width: 992px) {
    .hilight-more {
        min-height: 450px;
    }
}

    .hilights-items:after {
        content: '';
        display: block;
        width: 100%;
        height: 450px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 3;
        filter: alpha(opacity=65);
        opacity: .65;
        background-image: -webkit-gradient(linear,0 0,100% 100%,color-stop(0,#C90201),color-stop(39%,#FF6A6A),color-stop(65%,#FF6A6A),color-stop(100%,#7D0000));
        background-image: -webkit-linear-gradient(left top,#C90201 0,#a5407b 39%,#FF6A6A 65%,#7D0000 100%);
        background-image: -moz-linear-gradient(left top,#C90201 0,#a5407b 39%,#FF6A6A 65%,#7D0000 100%);
        background-image: -o-linear-gradient(left top,#C90201 0,#a5407b 39%,#FF6A6A 65%,#7D0000 100%);
        background-image: linear-gradient(left top,#C90201 0,#a5407b 39%,#FF6A6A 65%,#7D0000 100%);
    }

    .hilights-items h2{
       position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        bottom: 0;
        font-size: 30px;
        line-height: 1.4;
        z-index: 26;
        color: #FFF;
    }

    .hilights-items a:after{
        width: 100%;
        height: 100%;
    }

@media (max-width: 992px) {
    .hilights-items:after {
        min-height: 1125px;
    }
}

.hilights-items{
    z-index: 2;
}

.hilights-items::after{
    zoom:1;
}

.hilight-link{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 26;
        margin-left: -15px;
}
.hilight-link:hover{
    background-color: rgba(150, 0, 0, 0.2);
}

.hilight-link h2{
    margin-left: 15px;
    font-size: 22px;
        text-shadow: 1px 1px 1px #000;
}

    .hilight-link:hover h2 {
        color: #C90201;
    }

h1, h2, h3{
    font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
    font-weight: bold;
}

#nintendo-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(240, 240, 240);
}

#nintendo-container .container-header h2
{
    color: #C90201;
}

#nintendo-container .container-header h2 .thin{
    font-weight: normal;
}

#nintendo-container a{
    color: #C90201;
}

#nintendo-container a:hover{
    color: #FE5050;
}

#esports-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

#esports-container .container-header h2
{
    color: #54028A;
}

#esports-container .container-header h2 .thin{
    font-weight: normal;
}

#esports-container a{
    color: #54028A;
}

#esports-container a:hover{
    color: #C066FD;
}

.article-item figure, .hilight-article-item figure{
    width: 100%;
    height: 130px;
    display: block;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
    text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

@media(min-width: 441px){
    .hilight-article-item figure{
        height: 286px;
    }
}


@media(max-width: 440px){
    .hilight-article-item figure{
        height: 180px;
    }
}


.article-item figure{
    height: 130px;
}

.hilight-article-item:hover figure{
    opacity: 1;
}

.hilight-article-item .author{
    color: #000000;
    margin-bottom: 10px;
}

.hilight-article-item .snippet{
    color: #000000;
    font-size: 12px;
}

.hilight-article-item h3{
    margin-top: 0px;
}

.hilight-article-item .snippet{
    font-style: italic;
}

@media(min-width: 1200px) {
    .col-bordered-left {
        border-left: 1px solid #DDDDDD;
    }
}

.thumb-item{
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.thumb-item figure.media-object{
        height: 180px;
        background-size: cover;
        background-position: center center;
        width: 64px; height: 64px;
    }