/*
    N-Party - 6.0b
    Design e desenvolvimento por Mario Toledo (mario.toledo@nparty.com.br)
*/

body {
    font: 14px/21px Arial, Helvetica;
    color: #3e454c;
    background: #fff;
    -webkit-backface-visibility: hidden;
    background-attachment: fixed;
    overflow-x: hidden;
}

a {
	color: #C90201;
	text-decoration: none;
    webkit-transition: color .4s ease, background-color .4s ease;
    transition: color .4s ease, background-color .4s ease;
}

.nintendo a{
    color: #C90201;
}

a:hover{
    text-decoration: none;
}

blockquote{
	font-size:14px;
	font-style: italic
}

.eventos a{
    color: #E18700;
}

.esports a {
    color: #54028A;
}

/*
    header
*/

.h_top_part {
    background: #f2f2f2;
}

.header_top {
    text-align: justify;
    margin-bottom: -10px;
}

.mobile_menu nav ul li:first-child {
    margin-left: 0;
}

.mobile_menu nav ul li {
    margin-left: 8px;
}

.mobile_menu nav ul{
    padding-left: 0px;
}

.h_bot_part {
    background-color: #DD0000;
}

.header ul, ol {
    list-style: none;
}

.header_top nav, .header_top .login_block, .mobile_menu nav ul li, .header_top .head_weather_info {
    display: inline-block;
}

@media (min-width: 770px) {
    .header_top nav.right {
        float: right;
    }
}

.mobile_menu nav ul li a:hover {
    text-decoration: underline;
}

.mobile_menu.var2 nav ul li a {
    color: #212428;
}

.mobile_menu nav.left ul li a {
    font-size: 13px;
}

.mobile_menu nav.right ul li a {
    font-size: 15px;
}

.mobile_menu.var2 nav.left ul li:before {
    color: #212428;
}

.mobile_menu nav.left ul li:before {
    content: ".";
    margin: 0px 8px 0 0;
    top: 0;
    font-size: 25px;
    color: #e6e6e7;
    line-height: 0px;
    position: relative;
    top: -3px;
}

.mobile_menu nav ul li:first-child:before{
  display: none;
}

.mobile_menu nav {
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 769px) {
    .header_top .login_block, .header_top nav, .header_top .head_weather_info {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
}

.h_bot_part{
    padding: 15px 0;
}

.h_bot_part .logo img{
    max-height: 60px;
    margin-top: 15px;
}

@media (max-width: 992px) {
    .h_bot_part .logo img{
        margin: 15px auto;
    }
}

/*
    =================================================== MENU ========================================================
*/

.menu_wrap {
    z-index: 189;
    width: inherit;
    position: relative;
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.menu_border {
    border-bottom: 2px solid #3e454c;
}

.menu_wrap .menu_border_wrap {
    margin-bottom: -2px;
}

#menu_button {
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

#menu_button {
    padding: 15px;
    width: 100%;
    display: none;
    background: #383e44;
}

.main_menu {
    float: left;
}

.main_menu ul, ol{
    list-style: none;
}

.main_menu > ul > li {
    float: left;
    position: relative;
}

.main_menu > ul > li > a {
    display: block;
    padding: 14px 18px;
    font-weight: 500;
    color: #212428;
    text-transform: uppercase;
    font-size: 16px;
}

.main_menu ul li .plus {
    display: none;
}

.main_menu.menu_var2 > ul > li:nth-child(2) > a {
    border-bottom: 2px solid #C90201;
}

.main_menu.menu_var2 > ul > li:nth-child(2) > a:hover{
    background-color: #C90201;
    color: #fff;
}

.main_menu.menu_var2 > ul > li:nth-child(3) > a {
    border-bottom: 2px solid #54028A;
}

.main_menu.menu_var2 > ul > li:nth-child(3) > a:hover{
    background-color: #54028A;
    color: #fff;
}

.main_menu.menu_var2 > ul > li:nth-child(4) > a {
    border-bottom: 2px solid #E18700;
}

.main_menu.menu_var2 > ul > li:nth-child(4) > a:hover{
    background-color: #E18700;
    color: #fff;
}

/*
    =================================================== SEARCH ========================================================
*/

.button.button_orange, .button.search_button:hover, .shopping_button:hover, .close_search_form:hover, .button.button_grey:hover {
    background: #dd0000;
    color: #FFF;
}

.search_box {
    float: right;
}

.button.search_button {
    background-color: transparent;
    color: #b0b2b4;
    padding: 15px 10px;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-appearance: none;
    outline: none;
    border: none;
}

.searchform_wrap.var2 {
    height: 52px;
}

.searchform_wrap {
    background: #f9f9f9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -o-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0;
    visibility: hidden;
    z-index: 101;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.searchform_wrap > div {
    position: relative;
    height: inherit;
}

[role="search"]:not([class*="type_"]) {
    width: 95%;
}

.searchform_wrap form {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
}

.close_search_form {
    background-color: transparent;
    position: absolute;
    right: 15px;
    font-size: 21px;
    padding: 15px 11px;
    color: #b0b2b4;
    z-index: 99;
    display: block;
    top: 0;
}

.searchform_wrap > div:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

[role="search"]:not([class*="type_"]) input[type="text"] {
    width: 95%;
    background: transparent;
    border: none;
}

input:not([type="submit"]), textarea {
    width: 100%;
    display: inline-block;
    background: #fff;
    height: 40px;
    padding: 10px;
    color: #b0b1b4;
    border: 1px solid #e8e8e8;
    outline: none;
    resize: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: border-color .35s ease;
    transition: border-color .35s ease;
}

.spacer {
    display: none;
    height: 0;
    -webkit-transition: height .25s ease;
    transition: height .25s ease;
}

















































/* ----------------------------------
  1. Reset default browser styles
  2. Basic classes and elements 
  3. Typography
  4. Header
  5. List and Navigation
  6. Buttons
  7. Sliders
  8. Main Content Elements
  9. Main Content
  10. Forms
  11. Icons
  12. Footer
-------------------------------------*/


/* -----------------------------------

  1. Reset default browser styles

------------------------------------- */

*{
  margin: 0;
  padding: 0;
  border: none;
}

img{
  vertical-align: top; 
  max-width: 100%;
}

embed{ 
  vertical-align: top;
}

input,button{
  -webkit-appearance: none;
  outline: none;
}

button::-moz-focus-inner{
  border: 0;
}

html,body{
  height: 100%;
}

/* -----------------------------------

  2. Basic classes and elements 

------------------------------------- */

body{
  font:14px/21px Arial, Helvetica;
  color: #3e454c;
  background: #fff;
  -webkit-backface-visibility: hidden;
  background-attachment: fixed;
  overflow-x: hidden;
}

.wrapper_container{
  position: relative;
  background: #fff;
}

.wrapper{
  overflow: hidden;
}

.relative{
  position: relative;
}

.t_align_l{
  text-align: left;
}

.t_align_c{
  text-align: center;
}

.t_align_r{
  text-align: right;
}

.f_left{
  float: left;
}

.f_right{
  float: right;
}

.d_inline_b{
  display: inline-block;
}

.hide{ 
  display: none!important;  
}

.show{ 
  display: block; 
}

.invisible{ 
  visibility: hidden; 
}

::selection{
  background: #CC0000;
  color: #fff;
}

::-moz-selection{
  background: #CC0000;
  color: #fff; 
}

::-o-selection{
  background: #CC0000;
  color: #fff; 
}

::-ms-selection{
  background: #CC0000;
  color: #fff;
}

img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.clearfix:after,
.row:after{
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: ".";
}

.wide_layout{
  width: 100%;
}

/* -----------------------------------

  3. Typography

------------------------------------- */

h1,h2,h3,h4,h5{
  font-family: Arial, Helvetica, serif;
  color: #212428;
  line-height: 1.3em;
  font-weight: bold;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 16px;
}

h4{
  font-size: 14px;
}

h5{
  font-size: 12px;
}

a,
button{
  -webkit-transition: color .4s ease, background-color .4s ease;
  transition: color .4s ease, background-color .4s ease;
}

p{
  font-weight: 300;
}

p a{
  color: #dd0000;
}

p a:hover{
  text-decoration: underline;
}

.required{
  color: #ee4432;
}

/* -----------------------------------

  4. Header

------------------------------------- */



/* Sticky menu */

.header.scrolled {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

  /* Pre Header */

  .pre_header{
    text-align: center;
    padding: 20px;
    background: #383e44;
  }

  /* Header-3 */

  .header_3 .menu_wrap{
    background: #3e454c;
    width: 100%;
  }

  /* Header-4 Header-5 */

  

  .header_4 .header_top,
  .header_5 .header_top{
    margin-bottom: -26px;
  }

  .header_4 .h_bot_part .logo,
  .header_5 .h_bot_part .logo{
    padding-top: 0;
  }

  

  .header_4 .header_top,
  .header_5 .header_top{
    padding: 0;
  }

  .header_4 .header_top nav,
  .header_5 .header_top nav{
    padding-top: 6px;
  }

  .header_5 .h_top_part{
    border: none;
  }

  .header_5 .menu_wrap{
    padding: 40px 0;
    background: #3e454c;
  }

  .header.header_5 .main_menu > ul > li > a {
    padding: 15px 13px;
  }

  .header_5 .menu_wrap.sticky{
    padding: 10px 0;
  }

  .header_5 .searchform_wrap{
    background: #3e454c;
  }
  
  /* Main Navigation */

  .menu_wrap{
    z-index: 189;
    width: inherit;
    position: relative;
    background: #FFFFFF;

    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }


  [class*="header_"] .menu_wrap{
    background: #383e44;
  }

  .menu_wrap .menu_border_wrap{
    margin-bottom: -3px;
  }

  .header_6 .menu_wrap .menu_border_wrap{
    margin-bottom: 0;
  }

  .header_3 .menu_wrap{
    padding: 20px 0;
    background: #3e454c;    
  }

  .menu_wrap.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .header_3 .menu_wrap.sticky{
    padding: 10px 0;
  }

  .spacer{
    display: none;
    height: 0;
    -webkit-transition: height .25s ease;
    transition: height .25s ease;
  }

  .menu_wrap2{
    background: #383e44;
  }

  .menu_wrap.type_3{
    padding: 9px 0;
    border-bottom: 1px solid #e6e5e7;
  }

  .main_menu{
    float: left;
  }

  .main_menu.menu_var2 > ul > li > a{
      font-weight: bold;
  }

  .header.header_2 .main_menu{
    float: none;
    text-align: center;
  }

    .header.header_2 .main_menu > ul{
      display: inline-block;
    }

          .main_menu > ul > li > a{
            display: block;
            padding: 14px 18px;
            font-weight: 500;
            color: #212428;
            text-transform: uppercase;
            font-size: 16px;
          }

          [class*="header_"] .main_menu > ul > li > a{
            color: #f2f2f2;
            margin-bottom: 0;
            border: none;
            padding: 15px 18px;
          }

          .header.header_3 .main_menu > ul > li > a{
            padding: 15px 13px;
          }

          .main_menu > ul > li.current > a{
            border-bottom: 3px solid #dd0000;
          }

          .header[class*="header_"]:not(.header_6) .main_menu > ul > li > a:hover,
          .header[class*="header_"]:not(.header_6) .main_menu > ul > li.current > a{
            border: none;
          }

  .menu_wrap.type_2 .main_menu > li > a{
    padding: 20px 30px;
  }

  .main_menu.type_2 > ul > li > a{
    padding: 9px 10px 10px;
  }

  .main_menu.type_3 > ul > li > a{
    padding: 10px 20px;
  }

  .main_menu ul li .plus{
    display: none;
  }

  .sub_menu_wrap{
    position: absolute;
    left: 0;
    background: #3e454c;
    text-align: left;
    padding: 30px 20px;
    -webkit-transform: rotate3d(1,0,0,-90deg);
    transform: rotate3d(1,0,0,-90deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    opacity: 0;
    visibility: hidden;
    font-weight: 300;
    z-index: 999;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  
  .menu_border{
	border-bottom: 3px solid #DD0000;
  }

  .menu_border_wrap .sub_menu_wrap{
    top: calc(100% - 2px);
  }

  .sub_menu_wrap ul li.current > a{
    padding-left: 15px;
    padding-right: 15px;
    background: #484e56;
  }

  .sub_menu_wrap.sub_menu_inner ul li.current > a{
    background: #4f555d;
  }

  .sub_menu_wrap.type_2{
    min-width: 220px;
    width: auto;
    padding: 20px 0;
  }

  .sub_menu_wrap .sub_menu_wrap{
    opacity: 0;
    visibility: hidden; 
    left: 100%;
    top: 0;
    background: #484e56;

    -webkit-transform:rotate3d(0,1,0,90deg);
    -moz-transform:rotate3d(0,1,0,90deg);
    -o-transform:rotate3d(0,1,0,90deg);
    -ms-transform:rotate3d(0,1,0,90deg);
    transform:rotate3d(0,1,0,90deg);
  }

.main_menu > ul > li:hover > .sub_menu_wrap:not(.sub_menu_inner),
  .sub_menu_wrap ul li:hover .sub_menu_wrap.sub_menu_inner,
  .sub_menu_inner ul li:hover .sub_menu_wrap.sub_menu_inner_2{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }

  .sub_menu_wrap:before{
    right: auto;
    left: 16px;
  }

    .sub_menu_wrap > div{
      float: left;
    }

  .sub_menu,.main_menu > ul > li > a{
    -webkit-backface-visibility:hidden;
  }

  .sub_menu_wrap ul li:hover > a,
  .select_list > li:hover{
    background:#484e56;
  }

  .sub_menu_wrap.sub_menu_inner ul li:hover > a{
    background: #4f555d;
  }

  .sub_menu_wrap > div > div{
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .sub_menu_wrap ul li:hover > a{
    padding-left: 15px;
    padding-right: 15px;
  }

  .sub_menu_wrap[class*="type_"] ul li{
    padding: 0 20px;
  }

  .sub_menu_wrap ul > li:last-child > a{
    border-bottom: none;
  }

  .sub_menu_wrap > div{
    margin-left: 30px;
    min-width: 145px;
  }

  .sub_menu_wrap > div:first-child{
    margin-left: 0;
  }

  .sub_menu_wrap ul li a{
    display:block;
    padding:7.7px 0;
    white-space:pre;
    border-bottom: 1px solid #565c64;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  .sub_menu_wrap ul li a,
  .sub_menu_wrap > div > div{
    color: #f2f2f2;
  }

  .sub_menu_wrap > div > div{
    font-weight: normal;
  }

  .search_box{
    float: right;
  }

  .header.header_2 .searchform_wrap,
  .header.header_3 .searchform_wrap{
    background: #3e454c;
  }

    .searchform_wrap > div{
      position: relative;
      height: inherit;
    }

    .searchform_wrap > div:after{
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .searchform_wrap form{
      display: inline-block;
      vertical-align: middle;
      z-index: 1;
    }
    /* -----------------------------------

  10. Forms

------------------------------------- */

form.search{
  margin-top: 10px;
  position: relative;
}

  form.search button{
    position: absolute;
    right: 0;
    top: 0;
    min-height: 40px;
    width: 40px;
    background: transparent;
    color: #b0b2b4;

    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
  }

    form.search button:hover{
      color: #dd0000;
    }

  form.search input{
    padding-right: 40px;
  }

  form.search input::-webkit-input-placeholder{
    color: #b0b1b4;
  }

  form.search input:focus input{
    width: 300px;
  }

.searchform_wrap{
  background: #f9f9f9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  opacity: 0;
  visibility: hidden;
  z-index: 101;

  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.searchform_wrap.var2{
  height: 52px;
}

[class*="header_"] .searchform_wrap{
  background: #383e44;
}

.searchform_wrap[class*="type_"],.searchform_wrap[class*="type_"].opened,
.searchform_wrap[class*="type_"].closed{
  background: #FAFBFB;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

.searchform_wrap.opened,
.main_menu > li:hover > .sub_menu_wrap{
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -o-transform:translateY(0px);
  -ms-transform:translateY(0px);
  transform:translateY(0px);
  opacity: 1;
  visibility: visible;
}

.searchform_wrap.closed{
  -webkit-transform:translateY(-60px);
  -moz-transform:translateY(-60px);
  -o-transform:translateY(-60px);
  -ms-transform:translateY(-60px);
  transform:translateY(-60px);
  opacity: 0;
  visibility: hidden;
}

[role="search"]:not([class*="type_"]){
  width: 95%;
}

[role="search"]:not([class*="type_"]) input[type="text"]{
  width: 95%;
  background: transparent;
  border: none;
}

.hilight{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.hilight-img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 255px;
    transition-duration: 0.5s;
}


.hilight a:hover .hilight-img{
   transform: scale(1.10);
}

.hilight-img-med{
    height: 205px;
}

.hilight-img-big{
    height: 422px;
}

@media (min-width: 992px) and (max-width: 1999px){
    .hilight-img-med{
        height: 205px;
    }

    .hilight-img-big{
        height: 422px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .hilight-img-big, .hilight-img-med{
        height: 405px;
    }
}

@media (min-width: 500px) and (max-width: 767px){
    .hilight-img-big, .hilight-img-med{
        height: 324px;
    }
}

@media (min-width: 420px) and (max-width: 599px){
    .hilight-img-big, .hilight-img-med{
        height: 240px;
    }
}

@media (max-width: 420px){
    .hilight-img-big, .hilight-img-med{
        height: 220px;
    }
}

.hilight-caption{
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    width: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.hilight-caption-inner{
    color: #fff;
    font-size: 13px;
    text-align: left;
    background: linear-gradient(-180deg,transparent,rgba(0,0,0,.84) 65%);
    padding: 17px 20px 20px;
}

.hilight-caption-inner h2, .hilight-caption-inner h3{
    line-height: 1.3em;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #000;
}

.hilight-caption-inner h3{
    font-size: 16px;
}

.hilight-caption-inner h2{
    font-size: 22px;
}

.domain-box {
    padding: 5px 11px;
    text-transform: none;
    font-size: 12px;
    color: #FFF;
}

.domain-box-Nintendo{
    background-color: #C90201;
}

.domain-box-ESports{
    background-color: #54028A;
}

.domain-box-Eventos{
    background-color: #E18700;
}

#nintendo-container-home{
    border-top: 1px solid #C90201;
}

.home-container{
    padding-top: 6px;
}

.home-container .section-title{
    border-top: none;
    float: left;
    padding-top: 0;
    margin-bottom: 0;
    color: #C90201;
    margin-top: 6px;
    text-transform: uppercase;
}

#nintendo-container-home .section-title{
    color: #C90201;
}

nintendo-container-home h4, #nintendo-container-home h2, #nintendo-container-home h3{
    margin-top: 0px;
}

#nintendo-container-home a, #nintendo-container-home h4, #nintendo-container-home h2, #nintendo-container-home h3{
    color: #C90201;
}

.home-container .article-item .article-item-image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 110px;
    transition-duration: 0.5s;
    margin-bottom: 15px;
}

.home-container .article-item .article-item-image-left{
    float: left;
    margin-right: 20px;
}

.home-container .article-item .article-item-image-sm{
    width: 165px;
    height: 110px;
}

.home-container .article-item .article-item-image-md{
    height: 202px;
}

.home-container .article-item .article-date{
    font-size: 12px;
    color: #b0b1b4;
    text-transform: uppercase;
}

.home-container .content{
    margin-top: 20px;
}

.home-container .article-item .article-text{
    padding-top: 5px;
}

.home-container .article-item .article-text a{
    text-decoration: none;
}

.home-container .article-item .article-text a:hover h2, .home-container .article-item a:hover .article-text h4{
    text-decoration: underline;
}

.home-container .article-item .article-text h2{
    vertical-align: middle;
    display: inline-block;
    font-size: 22px;
    margin: 0;
}

.home-container .article-item .article-text h4{
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    margin: 0;
}

.home-container .article-item .article-text p{
    padding-top: 5px;
}

.home-container .article-list{
    list-style: none;
}

.home-container .article-item .article-item-image-xs{
    width: 105px;
    height: 105px;
}


@media (min-width: 500px) and (max-width: 767px){
    .home-container .article-item .article-item-image-md{
        height: 324px;
    }
}

@media (min-width: 420px) and (max-width: 599px){
    .home-container .article-item .article-item-image-md{
        height: 240px;
    }
}

@media (max-width: 420px){
    .home-container .article-item .article-item-image-md{
        height: 220px;
    }
}

.article-item .article-item-tags a {
    position: absolute;
    bottom: 0;
    display: inline-block;
}

.article-item .article-item-tags .icon-box {
    padding: 8px 8px;
    background: rgba(255,255,255,0.8);
    color: #212428;
    font-size: 13px;
    right: 0;
    z-index: 2;
}

.article-item .article-item-tags .icon-box:hover, .home-container .tabs-container .tabs-menu li a:hover{
    color: #FFF!important;
    background-color: #C90201;
}

.article-item .article-image-wrapper{
    position: relative;
}

.article-item-image:hover{
    opacity: .85
}

.home-container .tabs-container{
    position: relative;
    float: right;
}

@media only screen and (max-width: 480px) {
    .home-container .tabs-container {
        padding-top: 10px;
        float: left;
    }
}

.home-container .tabs-container .tabs-menu{
    float: left;
    list-style: none;
}

.home-container .tabs-container .tabs-menu li{
    margin-right: 3px;
    float: left;
}

.home-container .tabs-container .tabs-menu li a {
    font-size: 14px;
    padding: 6px;
    background: #f2f2f2;
    color: #212428;
    text-transform: uppercase;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    margin-top: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: 0 4px 20px -4px black;
    -webkit-box-shadow: 0 4px 20px -4px black;
}
.mega-dropdown-menu .menu-col ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu .menu-col ul > li {
  list-style: none;
}
.mega-dropdown-menu .menu-col ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.menu_nintendo .mega-dropdown-menu .dropdown-header{
    color: #C90201;
}
.mega-dropdown-menu .menu-col ul > li > a:hover{
    text-decoration: underline;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 0px;
  line-height: 30px;
}

.mega-dropdown-menu .panel{
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu .menu-col ul > li > a.dropdown-header{
    padding: 0px;
}

.mega-dropdown-menu .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.mega-dropdown-menu .left.carousel-control {
  right: 30px;
  left: inherit;
}
.mega-dropdown-menu .carousel-control .glyphicon-chevron-left, 
.mega-dropdown-menu .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.mega-dropdown-menu .tab-icons{
    margin-top: 40px;
}

.mega-dropdown-menu .tab-icons .tab-icon{
    text-align: center;
    font-size: 80px;
}

.mega-dropdown-menu .tab-list .tab-item a{
    padding: 5px;
    color: #555;
}

.mega-dropdown-menu .tab-list .tab-item a:hover{
    background-color: #e5e5e5;
}

.mega-dropdown-menu .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: -15px;
    margin-top: -15px;
}

.mega-dropdown-menu .carousel-control .glyphicon-chevron-right, .carousel-control .icon-right{
    margin-right: -15px;
    margin-top: -15px;
}

.list-group-transparent .list-group-item{
    border: 0px;
    padding: 1px;
}

.list-group-transparent .list-group-item .glyphicon{
    font-size: 10px;
    margin-top: 4px;
}

.marginless-thumbnail{
    margin-bottom: 0px;
    border-radius: 0px;
}

.col-bordered-left{
    border-left: 1px solid #e5e5e5;
}

.col-bordered-right{
    border-right: 1px solid #e5e5e5;
}

.collapsable-body{
    margin-bottom: -10px;
}

.menu-article-item{
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('/Content/img/loading.gif');
    margin-bottom: 10px;
}

@media (max-width: 1199px){
    .menu-article-item{
        width: 100%;
        height: 100px;
    }
}