#pokemon20th-navbar{
    background-color: #337ab7;
    min-height: 48px;
}

#pokemon20th-subnavbar{
    background-color: #FECC04;
    min-height: 40px;
}

#pokemon20th-subnavbar a{
    font-size: 16px;
}

#pokemon20th-subnavbar a:hover{
    background-color: rgb(230, 230, 230);
}

#carousel-pokemon20th{
    border-bottom: 20px solid #337ab7;
    color: #337ab7;
}

#carousel-pokemon20th .title{
    padding: 5px;
    background-color: #337ab7;
    color: #FECD04;
    margin: .67em 0;
    line-height: 1.1;
    font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#carousel-pokemon20th p, .pokemon20th h3.subTitle{
    padding: 5px;
    background-color: #337ab7;
}

.carousel-control{
    color: #337ab7!important;
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .pokemon20th .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

.pokemon20th .carousel-inner > .item > .item-inner {
    min-width: 100%;
    height: 400px;
    display: block;
    max-width: 100%;
}

.pokemon20th .menu{
    text-align: center;
}

.pokemon20th .menu>li{
    display: inline-block;
    float: none;
}

.pokemon20th .menu a{
    color: #FFF!important;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    border-radius: 0px;
}

.pokemon20th .menu li.active a{
    background-color: #FECC04;
    color: #FFF!important;
}

@media (max-width: 480px){
    .pokemon20th .menu a{
        font-size: 12px;
    }

    #pokemon20th-navbar{
        min-height: 37px;
    }

    .pokemon20th h3.subTitle{
        font-size: 14px!important;
    }
}

.pokemon20th .menu a:hover{
    background-color: #337ab7;
    color: #FECD04!important;
}

.pokemon20th .video-section .pattern-overlay {
    background-color: rgba(71, 71, 71, 0.59);
    padding: 70px 0 70px;
    min-height: 496px; 
    position: relative;
    overflow: hidden;
}

.pokemon20th .video-section video{
    background: #222;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('/Content/img/pokemon20thbg.jpg') no-repeat;
    background-size: cover;
}
.pokemon20th .video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.pokemon20th .video-section .logo{
text-align: center;
padding: 20px 0px;
}
.pokemon20th .video-section .logo img{
    margin: auto;
}
.pokemon20th .video-section h3{
    font-size: 30px;
    font-weight:lighter;
    margin: 0px auto 15px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}

.pokemon20th .animate {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pokemon20th .info-card {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.pokemon20th .info-card > img {
	width: 100px;
	margin-bottom: 60px;
}
.pokemon20th .info-card .info-card-details,
.pokemon20th .info-card .info-card-details .info-card-header  {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
	padding: 0 15px;
	text-align: center;
}

.pokemon20th .info-card .info-card-details{
    background: rgba(230, 230, 230, 0.8);
}

.pokemon20th .info-card .info-card-details::-webkit-scrollbar {
	width: 8px;
}
.pokemon20th .info-card .info-card-details::-webkit-scrollbar-button {
	width: 8px;
	height: 0px;
}
.pokemon20th .info-card .info-card-details::-webkit-scrollbar-track {
	background: transparent;
}
.pokemon20th .info-card .info-card-details::-webkit-scrollbar-thumb {
	background: rgb(160, 160, 160);
}
.pokemon20th .info-card .info-card-details::-webkit-scrollbar-thumb:hover {
	background: rgb(130, 130, 130);
}           

.pokemon20th .info-card .info-card-details .info-card-header {
	height: auto;		
	bottom: 100%;
	padding: 10px 5px;
}
.pokemon20th .info-card:hover .info-card-details {
	bottom: 0px;
	overflow: auto;
	padding-bottom: 25px;
}
.pokemon20th .info-card:hover .info-card-details .info-card-header {
	position: relative;
	bottom: 0px;
	padding-top: 45px;
	padding-bottom: 25px;
}
.pokemon20th .info-card .info-card-details .info-card-header h1,	
.pokemon20th .info-card .info-card-details .info-card-header h3 {
	color: #C90201;
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0 !important;
	padding: 0 !important;
}
.pokemon20th .info-card .info-card-details .info-card-header h3 {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	margin-top: 5px;
}
.pokemon20th .info-card .info-card-details .info-card-detail .social {
	list-style: none;
	padding: 0px;
	margin-top: 25px;
	text-align: center;
}
.pokemon20th .info-card .info-card-details .info-card-detail .social a {
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 10px 0px;
	margin: 0px 5px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(215, 215, 215);
	border-radius: 40px;
}

/* ------------------- GENERAL */

/* Common style */
.pokemon20th figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	text-align: center;
	cursor: pointer;
}

.pokemon20th figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.pokemon20th figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pokemon20th figure figcaption::before,
.pokemon20th figure figcaption::after {
	pointer-events: none;
}

.pokemon20th figure figcaption,
.pokemon20th figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.pokemon20th figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.pokemon20th figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}

.pokemon20th figure h2 span {
	font-weight: 800;
}

.pokemon20th figure h2,
.pokemon20th figure p {
	margin: 0;
}

.pokemon20th figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

.pokemon20th figure.effect-goliath {
	background: #FECD04;
}

.pokemon20th figure.effect-goliath img,
.pokemon20th figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.pokemon20th figure.effect-goliath h2{
    font-size: 40px;
}

.pokemon20th figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pokemon20th figure.effect-goliath h2,
.pokemon20th figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

.pokemon20th figure.effect-goliath p {
	text-transform: none;
	font-size: 14px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
    padding-bottom: 24px;
}

.pokemon20th figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-80px,0);
	transform: translate3d(0,-80px,0);
}

.pokemon20th figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

.pokemon20th figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*-----------------*/
/***** Steve *****/
/*-----------------*/

.pokemon20th figure.effect-steve {
	z-index: auto;
	overflow: visible;
	background: #000;
}

.pokemon20th figure.effect-steve:before,
.pokemon20th figure.effect-steve h2:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.pokemon20th figure.effect-steve:before {
	box-shadow: 0 3px 30px rgba(0,0,0,0.8);
	opacity: 0;
}

.pokemon20th figure.effect-steve figcaption {
	z-index: 1;
}

.pokemon20th figure.effect-steve img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}

.pokemon20th figure.effect-steve h2,
.pokemon20th figure.effect-steve p {
	background: rgb(230, 230, 230);
	color: #C90201;
}

.pokemon20th figure.effect-steve h2 {
	position: relative;
	margin-top: 2em;
	padding: 0.25em;
}

.pokemon20th figure.effect-steve h2:before {
	
}

.pokemon20th figure.effect-steve p {
	margin-top: 1em;
	padding: 0.5em;
	font-weight: 800;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

.pokemon20th figure.effect-steve:hover:before {
	opacity: 1;
}

.pokemon20th figure.effect-steve:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

.pokemon20th figure.effect-steve:hover h2:before {
	opacity: 0;
}

.pokemon20th figure.effect-steve:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}