@{
    ViewBag.Title = "GenerateUrl";
}



<div class="container">
    <h2>Gerar Url</h2>
    <form method="post" class="form">
        <select name="domain">
            <option value="Nintendo">Nintendo</option>
            <option value="ESports">ESports</option>
            <option value="Eventos">Eventos</option>
        </select>
        <div>
            <label>Id</label>
            <input name="postId" />
        </div>
        <div>
            <label>Título</label>
            <input name="title" />
        </div>
        <button type="submit">Gerar</button>
    </form>
</div>
