@{
    ViewBag.Title = "Index";
}

<div class="hilights" style="margin-top: -20px;">
    <div class="hilights-items">
        <div style="float: left; width: 100%;">
            <div class="col-md-4">
                <a href="#" class="hilight-link">
                    <h2>Opinião: A importância (e a nostalgia) dos eventos especiais de Pokémon no Brasil</h2>
                </a>
                <div class="hilight hilight-more" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" id="hilight2">
                        <a href="#" class="hilight-link">
                            <h2>Listamos 10 dos cosplays mais legais que vimos no Anime Friends 2015</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://2.bp.blogspot.com/--hHSADo5240/VbGgxH2Zw6I/AAAAAAAAlLo/FGz7VKEOjrE/s640/cosplayers.jpg'); z-index: -1"></div>
                    </div>
                    <div class="col-md-6" id="hilight3">
                        <a href="#" class="hilight-link">
                            <h2>Espaço Minas Nerds na 21ª Fest Comix</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://1.bp.blogspot.com/-6WCaq3jEhmQ/VbQ1yECk6SI/AAAAAAAAlN4/U6srqx7iU2c/s640/minasnerd.jpg')"></div>
                    </div>
                    <div class="col-md-6" id="hilight4">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================== NINTENDO ================================== -->
<div id="nintendo-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Na</span> <span class="strong">Nintendo</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block">Ver todos os artigos</a>
            </div>
        </div>
    </div>
</div>

<!-- ================================== ESPORTS ================================== -->
<div id="esports-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Em</span> <span class="strong">eSports</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>

                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>

                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block">Ver todos os artigos</a>
            </div>
        </div>
    </div>
</div>


<!-- ================================== EVENTOS ================================== -->
<div id="eventos-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Em</span> <span class="strong">Eventos</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 40px;">
                <!-- SLIDER DE FOTOS DE EVENTOSS -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11403262_870179396370332_8381361904971977574_n.jpg?oh=dca9c91514a4e8a449495e3e69046a6e&oe=5639A91E&__gda__=1451236289_e7cd47d188b84ba9e30b7085d4b834bf" alt="...">
                            <div class="carousel-caption">
                                <h3>Anime Friends 2015</h3>
                                <p>300 fotos</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://scontent-gru1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11755648_873651292689809_8603673137667345283_n.jpg?oh=a310b4b3504fca8d3d58bdaa160c09a7&oe=5641D999" alt="...">
                            <div class="carousel-caption">
                                <h3>Anime Friends 2015</h3>
                                <p>300 fotos</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10410707_873652806022991_3678323044755725801_n.jpg?oh=e4b86ecd6859e71cee5a21b7cc337c72&oe=5640C082&__gda__=1446916666_f16296f11983d6a8480e803951590f9b" alt="...">
                            <div class="carousel-caption">
                                <h3>Anime Friends 2015</h3>
                                <p>300 fotos</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-bordered-left">
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
                <hr/>
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
                <a class="btn btn-lg btn-block">Ver todos os artigos</a>
            </div>
        </div>
    </div>
</div>