@{
    ViewBag.Title = "Index";
}

<div class="hilights" style="margin-top: -20px;">
    <div class="hilights-items">
        <div style="float: left; width: 100%;">
            <div class="col-md-4">
                <a href="#" class="hilight-link">
                    <h2>Opinião: A importância (e a nostalgia) dos eventos especiais de Pokémon no Brasil</h2>
                </a>
                <div class="hilight hilight-more" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Listamos 10 dos cosplays mais legais que vimos no Anime Friends 2015</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://2.bp.blogspot.com/--hHSADo5240/VbGgxH2Zw6I/AAAAAAAAlLo/FGz7VKEOjrE/s640/cosplayers.jpg'); z-index: -1"></div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Espaço Minas Nerds na 21ª Fest Comix</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://1.bp.blogspot.com/-6WCaq3jEhmQ/VbQ1yECk6SI/AAAAAAAAlN4/U6srqx7iU2c/s640/minasnerd.jpg')"></div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>