@{
    ViewBag.Title = "Index";
}

<div class="hilights" style="margin-top: -20px;">
    <div class="hilights-items">
        <div style="float: left; width: 100%;">
            <div class="col-md-4">
                <a href="#" class="hilight-link">
                    <h2>Opinião: A importância (e a nostalgia) dos eventos especiais de Pokémon no Brasil</h2>
                </a>
                <div class="hilight hilight-more" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" id="hilight2">
                        <a href="#" class="hilight-link">
                            <h2>Listamos 10 dos cosplays mais legais que vimos no Anime Friends 2015</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://2.bp.blogspot.com/--hHSADo5240/VbGgxH2Zw6I/AAAAAAAAlLo/FGz7VKEOjrE/s640/cosplayers.jpg'); z-index: -1"></div>
                    </div>
                    <div class="col-md-6" id="hilight3">
                        <a href="#" class="hilight-link">
                            <h2>Espaço Minas Nerds na 21ª Fest Comix</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://1.bp.blogspot.com/-6WCaq3jEhmQ/VbQ1yECk6SI/AAAAAAAAlN4/U6srqx7iU2c/s640/minasnerd.jpg')"></div>
                    </div>
                    <div class="col-md-6" id="hilight4">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================== NINTENDO ================================== -->
<div id="nintendo-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Na</span> <span class="strong">Nintendo</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block" style="text-align: right">TUDO SOBRE <b>NINTENDO <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></b></a>
            </div>
        </div>
    </div>
</div>

<!-- ================================== ESPORTS ================================== -->
<div id="esports-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Em</span> <span class="strong">eSports</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>

                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>

                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block" style="text-align: right">TUDO SOBRE <b>ESPORTS <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></b></a>
            </div>
        </div>
    </div>
</div>


<!-- ================================== EVENTOS ================================== -->
<div id="eventos-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Em</span> <span class="strong">Eventos</span></h2>
        </div>
    </div>
    <div class="event-photos">
        <div class="container">
            <a class="album-title" href="#">
                <h3>Anime Friends 2015 <small>(300 fotos)</small></h3>
            </a>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            <a href="#" class="col-lg-1 col-md-2 col-xs-3 photo" style="background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11403262_870179396370332_8381361904971977574_n.jpg?oh=dca9c91514a4e8a449495e3e69046a6e&oe=5639A91E&__gda__=1451236289_e7cd47d188b84ba9e30b7085d4b834bf')"></a>
            <a href="#" class="col-lg-1 col-md-2 col-xs-3 photo" style="background-image: url('https://scontent-gru1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11755648_873651292689809_8603673137667345283_n.jpg?oh=a310b4b3504fca8d3d58bdaa160c09a7&oe=5641D999')"></a>
            <a href="#" class="col-lg-1 col-md-2 col-xs-3 photo" style="background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10410707_873652806022991_3678323044755725801_n.jpg?oh=e4b86ecd6859e71cee5a21b7cc337c72&oe=5640C082&__gda__=1446916666_f16296f11983d6a8480e803951590f9b')"></a>
            <a href="#" class="col-lg-1 col-md-2 col-xs-3 photo" style="background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11403262_870179396370332_8381361904971977574_n.jpg?oh=dca9c91514a4e8a449495e3e69046a6e&oe=5639A91E&__gda__=1451236289_e7cd47d188b84ba9e30b7085d4b834bf')"></a>
            <a href="#" class="col-lg-1 col-md-2 photo hidden-sm hidden-xs" style="background-image: url('https://scontent-gru1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11755648_873651292689809_8603673137667345283_n.jpg?oh=a310b4b3504fca8d3d58bdaa160c09a7&oe=5641D999')"></a>
            <a href="#" class="col-lg-1 col-md-2 photo hidden-sm hidden-xs" style="background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10410707_873652806022991_3678323044755725801_n.jpg?oh=e4b86ecd6859e71cee5a21b7cc337c72&oe=5640C082&__gda__=1446916666_f16296f11983d6a8480e803951590f9b')"></a>
            <a href="#" class="col-lg-1 photo hidden-md hidden-sm hidden-xs" style="background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11403262_870179396370332_8381361904971977574_n.jpg?oh=dca9c91514a4e8a449495e3e69046a6e&oe=5639A91E&__gda__=1451236289_e7cd47d188b84ba9e30b7085d4b834bf')"></a>
            <a href="#" class="col-lg-1 photo hidden-md hidden-sm hidden-xs" style="background-image: url('https://scontent-gru1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11755648_873651292689809_8603673137667345283_n.jpg?oh=a310b4b3504fca8d3d58bdaa160c09a7&oe=5641D999')"></a>
            <a href="#" class="col-lg-1 photo hidden-md hidden-sm hidden-xs" style="background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10410707_873652806022991_3678323044755725801_n.jpg?oh=e4b86ecd6859e71cee5a21b7cc337c72&oe=5640C082&__gda__=1446916666_f16296f11983d6a8480e803951590f9b')"></a>
            <a href="#" class="col-lg-1 photo hidden-md hidden-sm hidden-xs" style="background-image: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11403262_870179396370332_8381361904971977574_n.jpg?oh=dca9c91514a4e8a449495e3e69046a6e&oe=5639A91E&__gda__=1451236289_e7cd47d188b84ba9e30b7085d4b834bf')"></a>
            <a href="#" class="col-lg-1 photo hidden-md hidden-sm hidden-xs" style="background-image: url('https://scontent-gru1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11755648_873651292689809_8603673137667345283_n.jpg?oh=a310b4b3504fca8d3d58bdaa160c09a7&oe=5641D999')"></a>
            <a href="#" class="col-lg-1 photo hidden-md hidden-sm hidden-xs" style="background-image: url('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10410707_873652806022991_3678323044755725801_n.jpg?oh=e4b86ecd6859e71cee5a21b7cc337c72&oe=5640C082&__gda__=1446916666_f16296f11983d6a8480e803951590f9b')"></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 20px;">
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 20px;">
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <a class="hilight-article-item hilight-md-article-item" href="#">
                    <div class="row">
                        <div class="col-md-6">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-6">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr />
        <a class="btn btn-lg btn-block" style="text-align: right">TUDO SOBRE <b>EVENTOS <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></b></a>
    </div>
</div>

<!-- ================================== COPA N-PARTY ================================== -->
<div id="copa-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="strong">Copa</span> <span class="thin">N-Party</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 30px;">
                Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.<br/>
                <br />
                Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.
            </div>
            <div class="col-md-6">
                <div class="sub-header">
                    <h3>Último evento</h3>
                </div>
                @*<div id="lastOrNextEvent">
            <div class="message" style="display: none;">Carregando...</div>
            <div class="carousel slide" data-ride="carousel" id="carousel-events">
                <div class="carousel-inner" role="listbox" style="">
                    <div class="item eventHilight active" style="margin-bottom: 22px; background-image: url(http://www.images.nparty.com.br/connect/eventCover/small/animefriends.png); width: 100%;">
                        <a class="carousel-caption" href="http://connect.nparty.com.br/Eventos/Detalhes/1059">
                            <h3 class="hilightTitle">Anime Friends 2015</h3>
                            <div class="caption">
                                <div>
                                    <b>Organizador</b>: Yamato
                                </div>
                                <div>
                                    <b>Local</b>: Campo de Marte
                                </div>
                                <div>
                                    <b>Tipo</b>: Evento de Anime
                                </div>
                                <div>
                                    <b>Tipo</b>: 10/07/2015 a 19/07/2015
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" data-slide="prev" href="#carousel-events" role="button" style="display: none;">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" data-slide="next" href="#carousel-events" role="button" style="display: none;">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>*@
                <a class="thumbnail" href="/Eventos/Detalhes/1059" style="margin-bottom: 30px;">
                    <img src="http://www.images.nparty.com.br/connect/eventCover/large/animefriends.png" alt="Anime Friends 2015" style="width: 100%">
                    <h3>Anime Friends 2015</h3>
                    <div><b>Organizador</b>: Yamato</div>
                    <div><b>Local</b>: Campo de Marte (Sao Paulo - SP)</div>
                    <div><b>Tipo</b>: Evento de Anime</div>
                    <div><b>Data</b>: 10/07/2015 a 19/07/2015</div>
                </a>
                <div class="sub-header">
                    <h3>Ranking</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Apelido</th>
                                <th>Pontos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle; text-align: center;"><img src="/Static/img/playerPhoto/default.jpg" style="width: 70px"></td>
                                <td style="vertical-align: middle"><a href="/Jogadores/Detalhes/17">Leandro Auto da Cruz Lima</a></td>
                                <td style="vertical-align: middle">xLeandrox</td>
                                <td style="vertical-align: middle; text-align: center;">101</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle; text-align: center;"><img src="https://s3-sa-east-1.amazonaws.com/connectprofileimages/3577_06012015015638" style="width: 70px"></td>
                                <td style="vertical-align: middle"><a href="/Jogadores/Detalhes/3577">Lucas  Magalhães</a></td>
                                <td style="vertical-align: middle">Lukinhas</td>
                                <td style="vertical-align: middle; text-align: center;">97</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle; text-align: center;"><img src="https://s3-sa-east-1.amazonaws.com/connectprofileimages/2533_04042015021147" style="width: 70px"></td>
                                <td style="vertical-align: middle"><a href="/Jogadores/Detalhes/2533">Glauber Rodrigues</a></td>
                                <td style="vertical-align: middle">Dr.Glawzer</td>
                                <td style="vertical-align: middle; text-align: center;">67</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
