@{
    ViewBag.Title = "Index";
}

<div class="hilights" style="margin-top: -20px;">
    <div class="hilights-items">
        <div style="float: left; width: 100%;">
            <div class="col-md-4">
                <a href="#" class="hilight-link">
                    <h2>Opinião: A importância (e a nostalgia) dos eventos especiais de Pokémon no Brasil</h2>
                </a>
                <div class="hilight hilight-more" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6" id="hilight2">
                        <a href="#" class="hilight-link">
                            <h2>Listamos 10 dos cosplays mais legais que vimos no Anime Friends 2015</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://2.bp.blogspot.com/--hHSADo5240/VbGgxH2Zw6I/AAAAAAAAlLo/FGz7VKEOjrE/s640/cosplayers.jpg'); z-index: -1"></div>
                    </div>
                    <div class="col-md-6" id="hilight3">
                        <a href="#" class="hilight-link">
                            <h2>Espaço Minas Nerds na 21ª Fest Comix</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://1.bp.blogspot.com/-6WCaq3jEhmQ/VbQ1yECk6SI/AAAAAAAAlN4/U6srqx7iU2c/s640/minasnerd.jpg')"></div>
                    </div>
                    <div class="col-md-6" id="hilight4">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="hilight-link">
                            <h2>Teste</h2>
                        </a>
                        <div class="hilight" style="background-image: url('http://4.bp.blogspot.com/-hGfuU_Rb4ZE/Vbl9V75ZP5I/AAAAAAAAlS4/3U2VTwFhzJQ/s640/pokeeee.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ================================== NINTENDO ================================== -->
<div id="nintendo-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Na</span> <span class="strong">Nintendo</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block">Ver todos os artigos</a>
            </div>
        </div>
    </div>
</div>

<!-- ================================== ESPORTS ================================== -->
<div id="esports-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Em</span> <span class="strong">eSports</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>

                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>

                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block">Ver todos os artigos</a>
            </div>
        </div>
    </div>
</div>


<!-- ================================== EVENTOS ================================== -->
<div id="eventos-container">
    <div class="container">
        <div class="container-header">
            <h2><span class="thin">Em</span> <span class="strong">Eventos</span></h2>
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 20px;">
                <a class="hilight-article-item" href="#">
                    <div class="row">
                        <div class="col-md-8">
                            <figure style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                        </div>
                        <div class="col-md-4">
                            <h3>Lorem ipsum bla bla bla bla bla</h3>
                            <div class="author">Por Dave Tach em 26/12/2012</div>
                            <p class="snippet">Crackdown 3 (finally) proves why Microsoft put Xbox One's head in the cloud By Dave Tach dptach Share Tweet There I am, standing in the middle of a street in a neon-laced city, staring up at bla bla bla bla bla bla bla...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-bordered-left">
                <ul class="media-list">
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-AW0uerYbYzU/VdM-dFDWPbI/AAAAAAAAlnI/xooI6fTtZks/s640/amiiqo.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Conheça o "Amiiqo", um periférico não autorizado para enganar o Wii U com amiibos</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                    <li class="media thumb-item">
                        <a href="#">
                            <div class="media-left media-middle">
                                <figure class="media-object" style="background-image: url('http://2.bp.blogspot.com/-x-Ti4L2ZHck/VdTg-HmQuGI/AAAAAAAAlok/0WcjrCwpySc/s640/youkai-watch-review.jpg')"></figure>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Youkai Watch ganha data oficial de lançamento na América do Norte</h5>
                                <div class="time">em 26/12/2012</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a class="btn btn-lg btn-block">Ver todos os artigos</a>
            </div>
        </div>
    </div>
</div>