@{
    Layout = null;
    ViewBag.Title = "Sobre";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-bordered-right">
            <div class="pagina-titulo">De fã para fã</div>
            <p>O N-Party é um grupo que busca promover atividades e entretenimento para qualquer tipo de pessoa que se relacione com video-games. Através de espaços temáticos, organização de encontros e uma forte influência na internet, o grupo conta com um público engajado, que busca participar de atividades coletivas e se divertir enquanto se relaciona com pessoas que compartilham dos mesmos gostos.</p>
            <p>Acima de tudo, somos fãs de jogos eletrônicos, e buscamos contribuir com ações que beneficiem o mercado brasileiro, sejam elas privadas ou voluntárias.</p>
            <div class="pagina-titulo">Nossos eventos</div>
            <p></p>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>