@{
    ViewBag.Title = "Ops";
    ViewData["MenuHasBorderBottom"] = true;
}

<div class="container default-container" style="padding-top: 30px;">
        <h1>Desculpe-nos...</h1>
        <p>Mudamos a URL deste artigo, e ele não mais poderá ser acessado deste jeito. Ele ainda esta em nossos arquivos, mas você terá de encontrá-lo por conta própria...<br/>
           Sentimos muito por isto, mas esperamos que a foto desta lhama pode lhe ajudar a se sentir melhor!</p>
        <div style="text-align: center;"><img src="@Url.Content("~/Content/img/lhama.jpg")"/></div>
</div>
