@{
    ViewBag.Title = "Alteração de de foto de perfil";
    string fotoUrl = (string)ViewData["FotoURL"];
    bool validate = "post".Equals(Request.HttpMethod, StringComparison.OrdinalIgnoreCase);
}

@section FacebookMeta{
    <meta property="og:image" content="http://www.images.nparty.com.br/connect/connectFacebook.png" />
    <meta property="og:title" content="N-Party Connect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://connect.nparty.com.br" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name" content="N-Party Connect" />
    <meta property="og:description" content="Uma rede online para jogadores e fãs da Nintendo poderem trocar Friend Code, participar de campeonatos e muito mais." />
}

<h2>Alteração de de foto de perfil <small>Faça o upload de uma nova foto de perfil.</small></h2>
<div class="row">
@{
    Html.RenderPartial("MenuConfiguracoes");
}
    <form method="post" class="form" enctype="multipart/form-data">
        <div class="span8" style="padding-top: 10px;">
            @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterError"]))
            {
                <div class="row">
                    <div class="span8">
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterError"]
                        </div>
                    </div>
                </div>
            }
            @if (!EixoX.ValidationHelper.IsNullOrEmpty(ViewData["RegisterSuccess"]))
            {
                <div class="row">
                    <div class="span8">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewData["RegisterSuccess"]
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="span2">
                    <img src="@fotoUrl" alt="Foto de Perfil"/>
                </div>
                <div class="span6">
                    <label class="control-label" for="ProfileImage">Insira sua foto de perfil</label>
                    <div class="controls">
                        <input type="file" name="ProfileImage" accept="image/png, image/jpeg, image/jpg"/>
                        <br />
                        <div style="font-size: 10px; line-height: 12px;">Escolha apenas imagens do formato .jpg ou .png de no máximo 10 Mb. As imagens serão redimensionadas para um tamanho compatível com o sistema.</div>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="span8">
                    <button type="submit" class="btn btn-primary btn-large">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>