@*<style>
        .ad-banner{
            background-color: #337ab7;
        }

        .ad-banner:hover{
            background-color: #518ec2;
        }
    </style>
    <a class="ad-banner" href="@Url.Content("~/ESports/EVO")" style="display: block; padding: 15px 20px; color: #fff; text-align: center;">
        Fique por dentro da <b style="color: #fae25f">EVO 2016</b>, o maior torneio de fighing games do mundo com a N-Party!
    </a>*@