@*<style>
        .ad-banner{
            background-color: #337ab7;
        }

        .ad-banner:hover{
            background-color: #518ec2;
        }
    </style>
    <a class="ad-banner" href="@Url.Content("~/E3")" style="display: block; padding: 15px 20px; font-weight: bold; color: #fff; text-align: center;">
        Fique por dentro da <span style="font-weight: bold; color: #FDDA3F; font-size: 18px;">E</span><span style="font-size: 18px; font-weight: bold; color: #EF3120;">3</span> com a N-Party!
    </a>*@