@{
    ViewBag.Title = "Ops";
    ViewData["MenuHasBorderBottom"] = true;

    ViewData["title"] = "Ops";
    ViewData["metaDescription"] = "Algo de errado aconteceu, e nós estamos tão chateados quanto o Pikachu. Mas não se preocupe: nós já estamos de olho! Tente retornar novamente mais tarde.";
    ViewData["metaImage"] = Url.Content("~/Content/img/metaImages/ops.jpg");
    ViewData["metaUrl"] = Url.Content("~/Ops/Index");
    ViewData["metaKeywords"] = new List<string>() { "Ops" };
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-offset-2">
            <img class="img-responsive" style="width: 100%;" src="@Url.Content("~/Content/img/sad_pikachu.png")" />
        </div>
        <div class="col-md-4" >
            <div style="padding: 20px;">
                <h2>Ops....</h2>
                <p>Algo de errado aconteceu, e nós estamos tão chateados quanto o Pikachu. Mas não se preocupe: nós já estamos de olho! Tente retornar novamente mais tarde.</p>
            </div>
        </div>
    </div>
</div>
