@{
    ViewBag.Title = "Confirmar Cadastro";
}

<h2>@ViewData["Titulo"]</h2>
<p>Em menos de 5 segundos, você será redirecionado para a página principal.</p>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://connect.nparty.com.br';
    }, 5000);
</script>
