@{
    ViewBag.Title = "FAQ";
}

<h2>Perguntas Frequentes</h2>
<h4>O que é preciso para participar dos campeonatos?</h4>
<p>Os campeonatos da N-Party são organizados presencialmente, em eventos conforme divulgados em nosso site. O participante deve ter um cadastro em nosso sistema, o qual pode ser feito online ou no próprio evento, antes do início da competição.</p>
<h4>Como é definida a classificação?</h4>
<p>Durante os campeonatos, haverá sempre um membro do grupo avaliando a competição. Cada campeonato possui regras próprias, divulgadas com antecedência - dentro destas regras, são definidas as formas de classificação de cada participante, que ganha pontos variando com sua posição final na competição, além do número de participantes do campeonato.</p>