@{
    ViewBag.Title = "Sobre";
}

<h2>O que é a N-Party Campeonatos?</h2>
<p>A N-Party Campeonatos é uma rede voltada para jogadores que gostam de participar de campeonatos de jogos da Nintendo. O sistema tem como propósito registrar todos os eventos participados pelo grupo, exibindo os campeonatos organizados e seus respectivos resultados. Além disto, cada participante possui seu próprio perfil, exibindo o histórico de campeonatos participado, sua pontuação e seus principais ganhos, remetendo a um uso de uma rede social para competidores.</p>
<br />
<h2>Nossa história</h2>
<p>O grupo N-Party participa de eventos voltados ao público geek / nerd deste meados de 2008, sempre promovendo espaços para atividades voltadas ao entretenimento de jogadores com jogos da Nintendo, organizando jogatinas e campeonatos para permitir a interação entre os demais participantes.<br />
Cada campeonato é divulgado com antedência, provendo prêmios oficiais para os participantes, além de classificar cada um com uma pontuação
</p>
<br />
<h2>Nossa missão</h2>
<p>Temos como objetivo a integração de jogadores e fãs da Nintendo em uma comunidade aberta, promovendo diversão e entretenimento para todos.</p>