@{
    ViewBag.Title = "Index";
}

<h2>Ops</h2>
<p>Infelizmente, aconteceu um erro :(<br />
    Sentimos muito por isto, mas queremos consertar. Por favor, entre em contato conosco <a href="~/Home/Contato">através do link</a>, e nos diga exatamente o que você estava fazendo antes do erro acontecer.
</p>
