@{
    ViewBag.Title = "FAQ";
}

<h2>Perguntas Frequentes</h2>
<h4>O que é preciso para participar dos campeonatos?</h4>
<p>Os campeonatos da N-Party são organizados presencialmente, em eventos conforme divulgados em nosso site. O participante deve ter um cadastro em nosso sistema, o qual pode ser feito online ou no próprio evento, antes do início da competição.</p>
<h4>Como é definida a classificação?</h4>
<p>Durante os campeonatos, haverá sempre um membro do grupo avaliando a competição. Cada campeonato possui regras próprias, divulgadas com antecedência - dentro destas regras, são definidas as formas de classificação de cada participante, que ganha pontos variando com sua posição final na competição, além do número de participantes do campeonato.</p>
<h4>Não recebi o e-mail de confirmação do cadastro, o que devo fazer?</h4>
<p>Primeiramente, certifique-se que o e-mail cadastrado é valido. Tente fazer o login com o seu e-mail, e se ele não exibir novamente a tela solicitando a confirmação do cadastro, o endereço informado no ato da inscrição estava incorreto.
<p>Outro possível problema, é que o e-mail de confirmação pode ter sido classificado como "Spam", verifique se o e-mail está na pasta Spam ou Lixo Eletrônico de seu e-mail.</p>
<p>Para sempre receber atualizações sobre o Connect e os campeonatos da N-Party, além dos pedidos de conexão dos demais jogadores, habilite no filtro de Spam de seu provedor os e-mail recebidos do domínio nparty.com.br.</p>
<h4>Como faço para cadastrar meu Friend Code, Miiverse ID, PSN ID ou Live ID?</h4>
<p>Após efetuar o login no sistema, clique em seu nome na área superior direita da página, e em seguida clique no botão “Editar Perfil”. Na área à direita, Informações Adicionais, você consegue informar suas identificações nas principais plataformas. Após preencher as informações, clique no botão “Salvar” para que os dados sejam registrados.</p>
<h4>Como faço para cadastrar meus Pokémons do Friend Safari?</h4>
<p>Após efetuar o login no sistema, clique em seu nome na área superior direita da página, e em seguida clique no botão “Editar Perfil”. Na área à direita, Informações Adicionais, clique no botão “Inserir Friend Safari”. Na janela aberta, selecione o tipo de seu Friend Safari e em seguida os Pokémons. Após preencher as informações, clique no botão “Salvar” para que os dados sejam registrados.</p>
<h4>Como faço para convidar outros jogadores a adicionar meu Friend Code, Miiverse ID e outros usuários?</h4>
<p>Você pode enviar essas solicitações, através de um pedido de “conexão”. Funciona da Seguinte forma: - Acesse o perfil do jogador que deseja adicionar</p>
<ul>
    <li>Clique no botão “+” ao lado do da rede que deseja adicionar. Repare que o botão “+” só estará visível se você estiver logado, e ter registrado seu usuário na mesma rede que deseja adicionar. Exemplo, para enviar uma conexão para adicionar o Friend Code de alguém, você tem que ter registrado o seu Friend Code em seu perfil antes.</li>
    <li>Registre o usuário que deseja adicionar em seu console.</li>
    <li>O sistema enviará um e-mail ao jogador convidado, informando que você quer adicioná-lo, juntamente com o seu usuário na rede escolhida.</li>
    <li>Se o jogador convidado aceitar sua solicitação, ele irá adicioná-lo em seu console.</li>
</ul>