@{
    ViewBag.Title = "Privacidade";
}

@section FacebookMeta{
    <meta property="og:image" content="http://www.images.nparty.com.br/connect/connectFacebook.png" />
    <meta property="og:title" content="N-Party Connect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://connect.nparty.com.br" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:site_name" content="N-Party Connect" />
    <meta property="og:description" content="Uma rede online para jogadores e fãs da Nintendo poderem trocar Friend Code, participar de campeonatos e muito mais." />
}

<h2>Termos de Privacidade</h2>
<p>Este site é operado pelo grupo N-Party, e garante a proteção de todos os dados neles contidos. A coleta, como parte do gerenciamento, processamento ou utilização das informações pessoais necessárias, são feitas seguindo estritamente às normas brasileiras de Proteção das Informações.</p>
<p>Você pode visitar nosso site e obter informações sem precisar nos fornecer nenhum dado pessoal. Durante a sua visita ao nosso site, você permanecerá estritamente anônimo e em cada solicitação de página através de seu navegador de Internet serão enviadas informações de conexão, como data, município de residência, ou nome de seu fornecedor de serviços de internet que serão utilizadas por nós, sem referência pessoal, a menos que você tenha se conectado ao site com seu nome de usuário e senha.</p>
<p>Informações pessoais fornecidas por você, ao fazer um cadastro, podem incluir, entre outras:</p>
<ul>
    <li>Nome Completo</li>
    <li>Data de Nascimento</li>
    <li>E-mail</li>
    <li>Cidade e Estado onde reside</li>
</ul>
<p>Caso as informações sejam usadas para uma finalidade que requeira o seu consentimento, em conformidade com as disposições legais, lhe solicitaremos, individualmente, pelo consentimento explícito. Uma vez dado o consentimento pra o uso de suas informações, você poderá revogá-lo a qualquer momento para usos futuros.</p>
<p>Parte de nossos serviços exige que sejam utilizados cookies. Cookies são pequenas quantidades de dados armazenados pelo seu browser no seu computador. Os cookies podem armazenar informações sobre sua visita ao nosso site. A maioria dos navegadores é inicialmente configurada para aceitar cookies. No entanto, você pode reconfigurar seu navegador para recusar cookies ou para solicitar previamente uma confirmação. Se você rejeitar os cookies, como consequência nem todas as nossas ofertas de trabalho serão divulgadas para você.</p>
<p>Este site utiliza o Google Analytics, um serviço web analytics fornecidos pela Google Inc. ("Google"). O Google Analytics utiliza "cookies", arquivos de texto que são armazenados no seu computador para ajudar a analisar o uso do site. A informação gerada pelo cookie acerca da sua utilização deste website (incluindo o seu endereço IP) é enviada para um servidor do Google, onde são armazenados. O Google utiliza estas informações para avaliar uso do website, compilando relatórios sobre a atividade no website para operadores e fornecimento de atividade do website e outros serviços relacionados com a Internet. Além disso, o Google igualmente não pode transferir estas informações a terceiros, exceto se exigido por lei ou para terceiros que processem a informação em nome do Google, sob sua exclusive responsabilidade. O Google não associará o seu endereço IP com quaisquer outros dados mantidos pelo Google. Você pode recusar o uso de cookies alterando as configurações do seu navegador, no entanto nem todas as funcionalidades do site estarão disponíveis. Ao utilizar este site, você concorda com o processamento de dados pelo Google na forma descrita e para o referido fim.</p>
<p>Você tem o direito de a qualquer momento receber e corrigir, adicionar ou apagar informações sobre seus dados pessoais armazenados. Os nossos contatos podem ser encontrados no site.</p>