@{
    ViewBag.Title = "Sobre";
}

Imagine você, como fã da Nintendo, poder ter um perfil online com todo o seu histórico, friend code, id no miiverse e vários outros detalhes de seus jogos preferidos, configurados em uma única conta. Sendo assim, o grupo N-Party tem o prazer de apresentar a <b>N-Party Connect</b>, a primeira rede online para jogadores da Nintendo.<br />
<br />
O propósito da N-Party Connect é criar uma grande comunidade de jogadores, abrindo possibilidades para novas conexões e melhorando nossa relação com o público.<br />
Através de uma conta gratuita associada a seu email, o usuário receberá atualizações sobre os eventos realizados da N-Party, além de notificações e alertas de outros assuntos importantes. <br />
<br />
Ao participar de um campeonato da N-Party, o usuário recebe uma pontuação baseado em sua classificação na competição. Cada campeonato possui sua classificação, e o sistema ainda exibe o ranking dos melhores jogadores registrados, que serão premiados ao final de cada ano.<br />
No perfil de cada usuário, também são apresentados o histórico de suas últimas classificações.<br />
<br />
<div class="separator" style="clear: both; text-align: center;">
<img border="0" src="http://3.bp.blogspot.com/-bOV2IDIDAIw/Un1XiFk9KLI/AAAAAAAAVVc/c6J6ae2Qm7s/s640/Screen+Shot+2013-11-08+at+7.27.42+PM.png" width="1170" /></div>
<div style="text-align: center;">
<span style="font-size: x-small;"><i>Confira eventos realizados e sua respectiva classificação.</i></span></div>
<br />
Para aumentar a competitividade, os usuários podem ganhar badges, pequenos emblemas que são entregues quando uma determinada conquista é realizada. Por exemplo, pode haver uma badge para o jogador que chegar em primeiro em todas as baterias de um campeonato de Mario Kart 7. <br />
<br />
O perfil do jogador pode ser totalmente configurado com seus dados pessoais. Entre eles, para facilitar a troca de ID`s entre os demais jogos, é possível configurar seu Friend Code e Miiverse ID, alem do ID da PSN e da Live. <br />
<br />
Não só isto, como é possível requisitar uma conexão com outro jogador ao acessar seu perfil - clicando no botão de adicionar, um email é enviado automaticamente para o requisitado, junto com o ID do jogador. <br />
<br />
Pokémon X e Pokémon Y também trouxeram uma nova onda: a Friend Safari, que permite que os jogadores acessem Safaris baseados no Friend Code de um amigo. Desta forma, o usuário da N- Party Connect pode configurar seu perfil com os Pokémon e o tipo de seu Safari, permitindo que outros jogadores o adicionem, e haja troca de dados para conseguir capturar outros Pokémon. <br />
<br />
<div class="separator" style="clear: both; text-align: center;">
<img border="0" src="http://4.bp.blogspot.com/-PH555KyaQ3k/Un1ZNQRHqKI/AAAAAAAAVVo/XckHAxac5IA/s640/perfil.png" width="1170" /></div>
<div style="text-align: center;">
<span style="font-size: x-small;"><i>Configure seu perfil e compartilhe sua experiência com seus amigos!</i></span></div>
<br />
O N-Party Connect ainda esta só no começo, e não há limites para onde possa chegar. O layout responsivo do sistema permitirá que o mesmo seja acessado de qualquer dispositivo, seja diretamente do computador ou a partir de smartphohes, Wii U e 3DS. <br />
<br />
<div class="separator" style="clear: both; text-align: center;">
<img border="0" src="http://4.bp.blogspot.com/-eX1OpKfWbJs/Un0_IyI_4WI/AAAAAAAAVVM/uJNJOO5uYj4/s640/devicesConnect.png" width="1170" /></div>
<div style="text-align: center;">
<span style="font-size: x-small;"><i>Acesse a N-Party Connect de qualquer lugar: seu computador, smartphone ou até mesmo do seu Wii U!</i></span></div>
<br />
Para qualquer dúvida, sugestão ou caso queira reportar um problema, não deixe de <a href="~/Home/Contato">Entrar em contato conosco</a>