@{
    ViewBag.Title = "Faça Parte";
    ViewData["MenuHasBorderBottom"] = true;

    ViewData["title"] = "Faça Parte";
    ViewData["metaDescription"] = "Faça parte da equipe N-Party";
    ViewData["metaImage"] = Url.Content("~/Content/img/metaImages/quemsomos.jpg");
    ViewData["metaUrl"] = Url.Content("~/Sobre/FacaParte");
    ViewData["metaKeywords"] = new List<string>() { "Faça Parte" };
}

<div class="container" style="padding-top: 30px; padding-bottom: 30px;" itemscope itemtype="http://schema.org/Organization">
    <div class="pagina-titulo">Faça parte de nossa equipe!</div>
    <br/>
    <p>O grupo N-Party existe há 5 anos, trazendo entretenimento e diversão para todos os fãs de games e da Nintendo em geral. Hoje, contamos com atividades que envolvem a produção de encontros e eventos no estado de São Paulo, além da publicação de conteúdos diários em nosso site a respeito do universo da Big-N, e abrimos segmentos para a crescente área de eSports e cobertura dos eventos nerds em geral.</p>
    <p>Nós amamos o que fazemos, e apesar de estarmos sempre aprendendo, queremos trazer o melhor para nosso público. E este é um requisito para nossos membros: a vontade de aprender, evoluir seu trabalho e ajudar no crescimento do grupo.</p>
    <p>É necessário deixar claro que, apesar de termos parcerias para pagar nossos custos, o trabalho é voluntário. Porém, existem diversos benefícios com a participação da equipe. Entre elas, a possibilidade ter seu conteúdo assinado com seu nome, permitindo a divulgação de seu trabalho e a construção de um portifólio para trabalhos futuros, além do aprendizado na publicação de conteúdos para web.</p>
    <p>Acima disto tudo, somos um grupo de amigos. Gostamos de deixar as coisas descontraídas, marcamos de jogarmos juntos e de sairmos, a fim de tornar o trabalho divertido e amigável.</p>

    <div class="row" style="background-image: url(https://2.bp.blogspot.com/-sNjgKSBA770/Vt-vWDKKIhI/AAAAAAAApjE/5fczzRICLik/s1600/events.jpg); background-position: center; background-size: cover; margin-left: 0px; margin-right: 0px;">
        <div class="col-md-4" style="background-color: rgba(0, 0, 0, 0.7); color: white; padding: 30px;">
            <h3 style="margin-top: 0px;">
                Inscrição para equipe de eventos
            </h3>
            O grupo N-Party hoje realiza eventos e encontros para os fãs da Nintendo em São Paulo, com diversas atividades para seu entretenimento, entre campeonatos, freeplays, desafios e muito mais em um ambiente divertido e descontraído. Procuramos por pessoas que ajudem na organização destes eventos, desde montagem a planejamento e execução das atividades.<br />
            <br />
            <a class="btn btn-primary btn-block" href="https://docs.google.com/forms/d/15Yc7Ajn4Q4933KA5LVR-uqbzDMEf_oTumqWCzPpBFUM/viewform" target="_blank">Clique aqui para se inscrever</a>
        </div>
        <div class="col-md-8" style="padding: 120px;">
        </div>
    </div>
    <br />
    <br />
    <div class="row" style="background-image: url(http://4.bp.blogspot.com/-DD0Nutt1wbY/VcFL-ylW3BI/AAAAAAAAlZI/c3PtwNWP4RQ/s1600/ismash.jpg); background-position: center; background-size: cover; margin-left: 0px; margin-right: 0px;">
        <div class="col-md-8" style="padding: 120px;">
        </div>
        <div class="col-md-4" style="background-color: rgba(0, 0, 0, 0.7); color: white; padding: 30px;">
            <h3 style="margin-top: 0px;">
                Inscrição para equipe de conteúdos relacionados à Nintendo
            </h3>
            O site N-Party começou produzindo artigos essencialmente para o público fã da Nintendo, e isto ainda se mantém como nosso principal. Procuramos por pessoas que se interessem na publicação de notícias diárias que envolvam o universo da Big-N, além de prévias, análises, dicas e outros conteúdos especiais de forma periódica.<br />
            <br />
            <a class="btn btn-primary btn-block" href="https://docs.google.com/forms/d/1Dy10IEjg-CCVfOpcPZ-InxSd1oE1dMapO_PZObkbCsc/viewform#" target="_blank">Clique aqui para se inscrever</a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" style="background-image: url(http://2.bp.blogspot.com/-OQNgYW5ghf8/VcFO6F3nLtI/AAAAAAAAlZU/CKjJtLvOLD0/s1600/esports.jpg); background-position: center; background-size: cover; margin-left: 0px; margin-right: 0px;">
        <div class="col-md-4" style="background-color: rgba(0, 0, 0, 0.7); color: white; padding: 30px;">
            <h3 style="margin-top: 0px;">
                Inscrição para equipe de conteúdos relacionados à eSports
            </h3>
            O crescimento da área de eSports nos fez abrir uma segmentação para publicação de conteúdos relacionados ao tema, e não estamos falando apenas de League of Legends, mas também de jogos que estejam no cenário competitivo ou de qualquer outro assunto relevante. Procuramos por pessoas que se interessem na publicação de notícias e outros artigos especiais, entre dicas, análises, coberturas de eventos e etc.<br />
            <br />
            <a class="btn btn-primary btn-block" href="https://docs.google.com/forms/d/1OsqZ-1V1mSkDRXee8fu73ZLNH6cIe88cb8DGZ1Iztwk/viewform" target="_blank">Clique aqui para se inscrever</a>
        </div>
        <div class="col-md-8" style="padding: 120px;">
        </div>
    </div>
    <br />
    <br />
    <div class="pagina-titulo">
        Publicação de outros conteúdos que lhe interessam
    </div><br />
    <p>Você têm algo em mente que não foi listado, e gostaria de um lugar para publicar? Então não deixe de nos contar! Mande um email para <a href="mailto:contato@nparty.com.br">contato@nparty.com.br</a> com os detalhes, e retornaremos a mensagem em breve.</p>
</div>